[2020-02-28 17:53] rghetia opened #4 "Enable CircleCI build"

[2020-03-03 10:53] wingyplus opened #5 "Opentelemetry for database/sql"
It's good to see support for database/sql driver. We've some discussion here https://github.com/open-telemetry/opentelemetry-go/pull/490.

[2020-04-02 04:21] andrewhsu opened #6 "add support for contrib plugin gin 🍸"
https://github.com/gin-gonic/gin

This is done when:
- [x] code complete with tests passing
- [x] `Dockerfile` with example app showing instrumentation
- [x] documentation updated
- [x] plugin added to the opentelemetry [registry](https://opentelemetry.io/registry/) - https://github.com/open-telemetry/opentelemetry.io/pull/188

[2020-04-02 04:23] andrewhsu opened #7 "add support for contrib plugin mongodb 🍃"
https://github.com/mongodb/mongo-go-driver

This is done when:
- [x] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [x] documentation updated
- [x] plugin added to the opentelemetry [registry](https://opentelemetry.io/registry/)

[2020-04-02 04:25] andrewhsu opened #8 "add support for contrib plugin mux 🦍"
https://github.com/gorilla/mux

This is done when:
- [x] code complete with tests passing
- [x] `Dockerfile` with example app showing instrumentation
- [x] documentation updated
- [x] plugin added to the opentelemetry [registry](https://opentelemetry.io/registry/) -https://github.com/open-telemetry/opentelemetry.io/pull/187

[2020-04-14 19:30] zlozano opened #11 "statsd exporter currently relies on `LastValue` for emitting gauge metrics"
The new statsd exporter looks for a `LastValue` aggregator to emit gauge metrics. This is problematic because the `NewExportPipeline` factory uses `simple.NewWithExactMeasure` as its aggregator selector. This selector chooses the points aggregation for `Observer` types.

[code]

In most cases, I would imagine those using DataDog would expect Observer results to be output as traditional gauge metri

[2020-04-17 14:13] krnowak opened #17 "Setup vanity URL for this repo"
It should be `go.opentelemetry.io/contrib`, I think. With that set up, we will need to change `go.mod` files in the repo to replace `github.com/open-telemetry/opentelemetry-go-contrib` part to the vanity URL.

[2020-04-17 14:30] lizthegrey commented on #17
I believe @rghetia is in charge of the appengine thing that does the redirect mapping.

[2020-04-17 15:07] rghetia commented on #17
Done. https://github.com/census-ecosystem/opencensus-go-vanityurls/pull/10

<img width="150" alt="Screen Shot 2020-04-17 at 8 04 31 AM" src="https://user-images.githubusercontent.com/8052115/79583838-6e214780-8082-11ea-8445-87e1e6a12dab.png">

[2020-04-17 15:08] rghetia commented on #17
Closed by mistake. go.mod changes are still required.

[2020-04-17 15:21] krnowak commented on #17
Did the go.mod changes in #16.

[2020-04-17 15:40] #17 closed

[2020-04-20 13:55] zlozano commented on #11
This was fixed by #14. Thanks!

[2020-04-20 13:55] #11 closed

[2020-04-27 19:05] jmacd opened #23 "Add Resource support in the Datadog exporter"
Since release https://github.com/open-telemetry/opentelemetry-go/releases/tag/v0.4.3 the library has changed its exporter API to pass a `*resource.Resource` object through the pipeline. These are the static key:value labels that were configured with the SDK. They should be included as labels in any metric and span export.

There is an opportunity to compute a `[]string` for these once and re-use i

[2020-04-27 19:05] jmacd opened #24 "Add resource support in the dogstatsd exporter"
Like #23 but for dogstatsd exporter.

[2020-04-27 19:06] jmacd commented on #4
Is this finished?

[2020-04-27 22:34] jmacd commented on #23
For an example in the dogstatsd exporter, https://github.com/open-telemetry/opentelemetry-go-contrib/pull/25

[2020-04-27 23:29] marwan-at-work commented on #23
Thank you for all the info, I will add that to the Datadog exporter this week 👍

[2020-04-28 16:02] #24 closed

[2020-05-04 12:07] krnowak opened #28 "Decide on the directory structure of the plugins directory"
I was thinking how the plugins should be laid out. At first I was stripping the code hosting name, so I had `go.opentelemetry.io/contrib/plugins/gorilla/mux`. But I think that maybe it should just repeat the import path of the instrumented library, so basically ``go.opentelemetry.io/contrib/plugins/<IMPORT_PATH>`, like:

- `go.opentelemetry.io/contrib/plugins/github.com/gorilla/mux`
- `go.opentele

[2020-05-04 12:08] krnowak commented on #28
The result of this issue should be some documentation for the instrumentation writers about where to put the instrumentation.

[2020-05-05 17:29] krnowak opened #31 "Merge the mock tracer into the otel-go's mock tracer."
The mock tracer in `internal/trace` is a modified copy of the mock tracer in otel-go. When we decide that our copy of mock tracer meets the needs of the instrumentation testing code (so the mock tracer stabilized) then it would be good to reduce the code duplication and bring the changes back to otel-go.

[2020-05-07 13:04] krnowak commented on #28
Another question is whether we want to differentiate between tracing instrumentation and metrics instrumentation. Whether these two should end up in different packages. IMO, no.

[2020-05-07 14:50] Aneurysm9 commented on #28
I think I would prefer consolidated trace and metrics instrumentation.  It should be easy for a developer to include an instrumentation plugin for their system of choice and get all the capabilities we have to offer.  It should also be easy for them to configure an instrumentation plugin to only provide traces or metrics, if desired.

[2020-05-14 21:38] andrewhsu commented on #7
#26

[2020-05-14 22:10] andrewhsu commented on #5
FYI initial attempt that looks like a different approach would be more desirable https://github.com/open-telemetry/opentelemetry-go-contrib/pull/32

[2020-05-14 22:31] jmacd opened #37 "Macaron plugin span name generator needed"
See the original comment:
https://github.com/open-telemetry/opentelemetry-go-contrib/pull/20/files#r419518073

This could be addressed with upstream changes to expose route information, but for now the plugin will generate span names with high cardinality.

[2020-05-14 22:34] jmacd opened #38 "Unfinished Gormtrace plugin"
This PR could be used to continue working on a Gormtrace plugin.
https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2

[2020-05-15 00:02] MrAlias opened #39 "Add testing to the MongoDB plugin"
Create unit testing that doesn't need a running instance of Mongo to function.

_Originally posted by @MrAlias in https://github.com/open-telemetry/opentelemetry-go-contrib/pull/26/review_comment/create_

[2020-05-19 17:19] andrewhsu commented on #7
@rnburn i think the other items in the description need to be ticked off as well when you get the chance.

[2020-05-26 20:19] jmacd opened #43 "Metric test helpers needed"
This repo has a copy of the trace testing helpers from the main repository. This repo does not have a copy of the metric testing helpers. We should add test helpers to support testing metrics in this repository, but first some code should be exposed from the main repository (e.g., AsyncInstrumentState).

[2020-05-27 00:04] tankbusta opened #45 "Usage in external projects?"
What's the proper way to leverage this code in external projects? Go seems to be choking up on the contrib/replace syntax used in most of the modules files

Example:
[code]

I also tried a simple `go get -u go get -u go.opentelemetry.io/contrib` but it discovers the `go.mod` in `plugins/labstack/echo` and bombs out with the error from above

Any help would be appreciated - thanks!

[2020-05-27 00:42] Aneurysm9 commented on #45
We probably need to start tagging releases here and updating the sub-modules' `go.mod` files like we do with [the pre-release script](https://github.com/open-telemetry/opentelemetry-go/blob/master/pre_release.sh#L80-L84) in the main project.

My understanding is that `replace` directives are ignored in all but the current module when building using modules, so you may be able to work around this t

[2020-05-27 00:45] Aneurysm9 commented on #4
This appears to be enabled on both PRs and commits to HEAD.

[2020-05-27 00:45] #4 closed

[2020-05-27 00:52] tankbusta commented on #45
You are correct! I added a replace in my go.mod for contrib and it's building now.

:+1: for releases as the replace syntax isn't ideal for external usage

[2020-05-27 21:00] jmacd commented on #45
After a release is made in the main repository, many of the modules in this package should be updated. I did this for the 0.5 release. If we use a script to update the modules, we will still need to apply manual fixes in case of API breakage.

All .mod files should have a replace for `go.opentelemetry.io/contrib` to the root of the repo. We cannot use a replace directive for the main library (it w

[2020-05-30 22:02] pintonunes opened #48 "Gorilla mux middleware wont compile"
Hi, trying to use the gorilla mux trace middleware and I'm having this issue

[code]
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/d49ffc8cef0173d441fe62eb6e9b03ad04147087/plugins/gorilla/mux/go.mod#L10

Is this something on my side?

[2020-05-31 00:43] Aneurysm9 commented on #48
See #45.  You can add a `replace` directive, as outlined in [this comment](https://github.com/open-telemetry/opentelemetry-go-contrib/issues/45#issuecomment-634355917), as a temporary workaround until we ship a release from -contrib.

[2020-05-31 00:43] #48 closed

[2020-06-01 13:51] dukeng opened #49 "Auto detection of GKE resource"
OpenTelemetry should detect GKE openCensus resources and send them to the desired collector/exporter.

OC has a [resource mapping](https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/master/RESOURCE.md#k8s_container). We should consider the same feature for OT.

[2020-06-02 00:20] pintonunes commented on #48
Thanks! Didnt saw that issue.

[2020-06-02 02:37] nilebox commented on #49
Possibly a duplicate of / overlap with https://github.com/open-telemetry/opentelemetry-go/issues/785

[2020-06-02 15:54] Aneurysm9 commented on #49
I moved this issue to -contrib because it asked for resource detection for a specific vendor product, which we generally would not put in the main repo.  I think the designed proposed for https://github.com/open-telemetry/opentelemetry-go/issues/785 allows for additional resource detectors and the -contrib repo would be a good place for GKE/EKS/AKS detectors that go beyond the bounds of common k8s

[2020-06-02 16:41] andrewhsu opened #50 "add support for packages in golang standard library"
Similar to the open tracing support https://github.com/opentracing-contrib/go-stdlib

[2020-06-02 16:58] andrewhsu commented on #6
Related PR https://github.com/open-telemetry/opentelemetry-go-contrib/pull/19

[2020-06-02 17:32] Aneurysm9 commented on #50
Do the `Handler` and `Transport` types in [the othttp package](https://github.com/open-telemetry/opentelemetry-go/tree/master/instrumentations/othttp) not cover this?

[2020-06-03 21:35] seslattery commented on #5
I have an initial proof of concept I implemented at https://github.com/seslattery/otelsql.  If this seems like a useful direction to be explored more, I'd be happy to open a PR and work on polishing it up some more.

[2020-06-03 21:47] Aneurysm9 commented on #5
@seslattery please do open a PR.  I'd like to see `Register()` use functional options for the tracer and attributes, to be more in line with the SDK and other instrumentations.  I'm also not sure about using `runtime.Caller()` to derive span names from callers rather than just putting static strings at the call site.  Overall, though, this is a good start.

[2020-06-05 18:15] evantorrie opened #51 "Create release tag automation script"
[Per this comment](https://github.com/open-telemetry/opentelemetry-go-contrib/issues/45#issuecomment-634355917) this repo needs an automated release tagging script similar to that used for https://github.com/open-telemetry/opentelemetry-go.  Providing this will help to address #45 (the work still needs to be done to perform the actual release).

In addition, as [mentioned here](https://github.com/

[2020-06-06 02:48] evantorrie opened #54 "Contrib coverage report in Circle build does not cover any of the contrib packages"
Noticed that the coverage.html artifact produced in the CircleCI build reports on coverage [only for `internal/trace/...` files](https://68-242202166-gh.circle-artifacts.com/0/opentelemetry-go-contrib-test-output/coverage.html#file0) in the main module.

There is no coverage reported for any of the contributed package source files.

[2020-06-06 18:09] #54 closed

[2020-06-06 18:18] #51 closed

[2020-06-08 18:55] evantorrie opened #59 "Add more details on release process"
Given that this contrib repo has a version dependency on the `go.opentelemetry.io/otel` repo as well as its *own* version (which may or may not be the same as the otel repo version), we likely need:
   * `RELEASING.md`
   * `tag.sh`
   * `verify_examples.sh`
to ensure we release correctly tagged and verified releases.

[2020-06-18 18:24] MrAlias opened #79 "Add instrumentation for go-restful"
https://github.com/emicklei/go-restful

## Tasks

- [x] code complete with tests passing
- [x] `Dockerfile` with example app showing instrumentation
- [x] documentation updated
- [x] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/opentracing-contrib/go-restful
- https://github.com/DataDog/dd-trace-go/tree/v1/contrib/emi

[2020-06-18 18:25] #6 closed

[2020-06-18 18:25] #8 closed

[2020-06-18 18:59] MrAlias commented on #50
I think @Aneurysm9 is correct. Please reopen if there are other things this was meant to address @andrewhsu .

[2020-06-18 18:59] #50 closed

[2020-06-18 19:04] MrAlias commented on #79
Prior art for OpenTracing:

- https://github.com/opentracing-contrib/go-restful
- https://github.com/DataDog/dd-trace-go/tree/v1/contrib/emicklei/go-restful

[2020-06-18 19:09] MrAlias opened #80 "Add instrumentation for github.com/streadway/amqp"
github.com/streadway/amqp

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/opentracing-contrib/go-amqp

[2020-06-18 19:13] MrAlias opened #81 "Add instrumentation for github.com/aws/aws-sdk-go"
https://github.com/aws/aws-sdk-go

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/opentracing-contrib/go-aws-sdk
- https://github.com/DataDog/dd-trace-go/tree/v1/contrib/aws/aws-

[2020-06-18 19:15] MrAlias opened #82 "Add instrumentation for github.com/astaxie/beego"
https://github.com/astaxie/beego

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/opentracing-contrib/beego

[2020-06-18 19:16] MrAlias opened #83 "Add instrumentation for Redis: github.com/go-redis/redis"
https://github.com/go-redis/redis

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/opentracing-contrib/goredis
- https://github.com/DataDog/dd-trace-go/tree/v1/contrib/go-redis/re

[2020-06-18 19:19] MrAlias opened #84 "Add instrumentation for go.uber.org/zap"
https://github.com/uber-go/zap

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/opentracing-contrib/go-zap

[2020-06-18 19:23] MrAlias opened #85 "Add instrumentation for github.com/graph-gophers/graphql-go"
https://github.com/graph-gophers/graphql-go

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/DataDog/dd-trace-go/tree/v1/contrib/graph-gophers/graphql-go

[2020-06-18 19:30] MrAlias opened #86 "Add instrumentation for github.com/googleapis/google-cloud-go"
https://github.com/googleapis/google-cloud-go

Initial packages to target:

- bigquery
- bigtable
- firestore
- pubsub
- spanner
- storage

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

OpenCensus d

[2020-06-18 19:33] MrAlias opened #87 "Add instrumentation for Kafka: github.com/Shopify/sarama"
https://github.com/Shopify/sarama

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/DataDog/dd-trace-go/tree/v1/contrib/Shopify/sarama

[2020-06-18 19:34] MrAlias opened #88 "Add instrumentation for Kafka: gopkg.in/confluentinc/confluent-kafka-go.v1/kafka"
https://gopkg.in/confluentinc/confluent-kafka-go.v1/kafka

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/DataDog/dd-trace-go/tree/v1/contrib/confluentinc/confluent-kafka-go/kafk

[2020-06-18 19:39] MrAlias opened #89 "Add instrumentation for Elasticserach: github.com/olivere/elastic"
https://github.com/olivere/elastic

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/DataDog/dd-trace-go/tree/v1/contrib/olivere/elastic

[2020-06-18 19:41] MrAlias opened #90 "Add instrumentation for Memcached: github.com/bradfitz/gomemcache"
https://github.com/bradfitz/gomemcache

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/DataDog/dd-trace-go/tree/v1/contrib/bradfitz/gomemcache/memcache

[2020-06-18 19:43] MrAlias opened #91 "Add instrumentation for Cassandra: github.com/gocql/gocql"
https://github.com/gocql/gocql

## Tasks

- [x] code complete with tests passing
- [x] `Dockerfile` with example app showing instrumentation
- [x] documentation updated
- [x] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

- https://github.com/DataDog/dd-trace-go/tree/v1/contrib/gocql/gocql

[2020-06-18 19:58] MrAlias commented on #5
Prior work in OpenCensus might be useful to look at: https://github.com/opencensus-integrations/ocsql

I would not copy this, but might be interesting to look at.

[2020-06-18 20:12] MrAlias commented on #5
Also: https://github.com/DataDog/dd-trace-go/tree/v1.24.1/contrib/database/sql

[2020-06-18 20:14] MrAlias commented on #49
Blocked on: https://github.com/open-telemetry/oteps/pull/111

[2020-06-19 17:35] reggiemcdonald commented on #83
@MrAlias could @TigerHe7 and myself take this one?

[2020-06-22 15:46] MrAlias commented on #83
@reggiemcdonald @TigerHe7 all yours :smile:

[2020-06-22 22:31] TigerHe7 commented on #83
Thanks @MrAlias, could you assign me as well?

[2020-06-22 23:04] MrAlias commented on #83
done :+1:

[2020-06-22 23:10] #28 closed

[2020-06-25 20:02] TigerHe7 commented on #83
@MrAlias Do you know if there's a particular version of Redis we should be building this for?

[2020-06-26 03:09] MrAlias commented on #83
@TigerHe7 I was thinking just the latest stable. At least to start with.

I think it's up to you both at this point to make the final decision of which versions to support. My only ask will be to document that support in some form of the documentation.

[2020-06-26 19:10] evantorrie commented on #45
@tankbusta The last release `v0.6.1` should have correctly tagged the top-level and all submodules.

You should be able to include in your `go.mod` file:

[code]

and it will pull in the correct version of all associated dependencies, including `go.opentelemetry.io/contrib v0.6.1` and `go.opentelemetry.io/otel v0.6.0`.

Will close this issue as fixed assuming no further comments.

[2020-06-26 22:09] MrAlias opened #102 "Upgrade to v0.7.0 of go.opentelemetry.io/otel"
Related change log:

[2020-06-29 16:15] #59 closed

[2020-06-29 16:24] MrAlias commented on #45
Please reopen if what @evantorrie said isn't true.

[2020-06-29 16:24] #45 closed

[2020-06-29 20:25] #102 closed

[2020-06-29 23:34] evantorrie opened #113 "Add ChangeLog to repository"
Create a `CHANGELOG.md` that documents changes between versions.

[2020-06-30 23:18] reggiemcdonald opened #116 "Update instrumentation readme to include links to instrumentation in external repos"
As per discussion with @MrAlias, we agreed that the readme in the instrumentation directory should be updated to include links to integrations that are not in the opentelemetry-go-contrib repo.

@TigerHe7 and I found that [go-redis/go](https://github.com/go-redis/redis) already contains an integration for opentelemetry.

This issue is to update the readme with a table including a link to that repo

[2020-07-01 15:35] #113 closed

[2020-07-01 17:34] evantorrie commented on #116
I checked https://opentelemetry.io/registry/ and the `go-redis/go` OTel integration does not appear there either. Should we take it upon ourselves to add this to the registry? Or expect the go-redis maintainers to do so?

[2020-07-01 17:50] MrAlias commented on #116
Probably worth doing ourselves given the newness of things. That said I know @vmihailenco has contributed to OTel already and might be interested in registering it.

[2020-07-01 22:01] connorlindsey opened #119 "Implement an Exporter for Cortex"
We (@alolita, @ercl, @connorlindsey) are interested in developing a push-based exporter, sending metrics data to a [Cortex](https://cortexmetrics.io/) instance for supporting scalable metrics storage and processing.

We plan to provide a detailed design document for review, code and tests to support this implementation. Please assign this issue to us for implementation. You can assign it to @aloli

[2020-07-02 09:59] XSAM commented on #87
@MrAlias I'd like to take this up.

[2020-07-02 15:38] #116 closed

[2020-07-02 21:39] MrAlias commented on #79
Closed in error, still need to complete the checklist.

[2020-07-04 20:02] evantorrie commented on #79
Instrumentation registry added in PR https://github.com/open-telemetry/opentelemetry.io/pull/213.

Note, I also added a couple of others that were missing in https://github.com/open-telemetry/opentelemetry.io/pull/211

[2020-07-04 20:10] evantorrie commented on #79
Documentation is likely already sufficient, but gave a little more color in #121

[2020-07-05 16:34] #79 closed

[2020-07-07 19:28] reggiemcdonald commented on #83
You can find our initial PR [here](https://github.com/go-redis/redis/pull/1398)

[2020-07-07 20:15] reggiemcdonald commented on #91
@MrAlias could I give this a try?

[2020-07-08 00:12] reggiemcdonald commented on #91
After a bit of research it appears that I can either:
- Create an implementation of [`gocql.Tracer`](https://github.com/gocql/gocql/blob/c6852bb0463ade62d1234270419b7c948b45a7e1/session.go#L591-L598), which appears to be quite resource intensive with the multiple queries to the Database, but does not require the creation of a wrapper
- Create a wrapper around `gocql.Session` and avoid using the Tr

[2020-07-08 03:57] Aneurysm9 commented on #91
The comment on the `gocql.Tracer` type says:

That would lead me to believe that creating a wrapper is the better approach.  Ideally we'd be able to leave the instrumentation enabled at all times.

[2020-07-08 15:07] reggiemcdonald commented on #91
Perfect that's what I thought. Thanks!

[2020-07-10 16:29] rot1024 opened #126 "Add instrumentation for gqlgen: github.com/99designs/gqlgen"
It seems that there is no instrumentation library for [gqlgen](https://github.com/99designs/gqlgen) for now.

## Tasks

- [ ] code complete with tests passing
- [ ] `Dockerfile` with example app showing instrumentation
- [ ] documentation updated
- [ ] instrumentation added to the opentelemetry [registry](https://opentelemetry.io/registry/)

## Prior Art

Reference: https://github.com/rot1024/otel

[2020-07-10 16:45] lizthegrey opened #127 "sync to otel-go v0.8.0"

[2020-07-10 16:49] lizthegrey opened #128 "sync plugin paths into .github/dependabot.yml"
#118 broke our dependabot updates for some plugins

[2020-07-10 17:46] #127 closed

[2020-07-10 23:18] #128 closed

[2020-07-20 07:56] matej-g commented on #90
I'd like to work on this one

[2020-07-20 15:53] MrAlias commented on #126
@rot1024 https://github.com/rot1024/otelgqlgen returns a 404 when I try to access it. Does it need to be made public?

[2020-07-20 16:17] rot1024 commented on #126
Sorry, I have made it public.

[2020-07-23 04:04] #87 closed

[2020-07-27 15:54] MrAlias opened #194 "Update gRPC instrumentation"
The [gRPC instrumentation](https://github.com/open-telemetry/opentelemetry-go/tree/v0.9.0/instrumentation/grpctrace) ...

- [ ] should include metric instruments to capture metric events.
   - prior art: https://godoc.org/go.opencensus.io/plugin/ocgrpc#pkg-variables
   - should act as a prototype for OpenTelemetry.
- [x] rename to not include `trace` in name. Likely want to follow [the naming stan

[2020-07-28 21:44] Aneurysm9 opened #158 "Add instrumentation for net/http and net/httptrace"
See https://github.com/open-telemetry/opentelemetry-go/issues/974.

# Tasks

- [x]  code complete with tests passing
- [x]  Dockerfile with example app showing instrumentation
- [x]  documentation updated
- [x]  instrumentation added to the opentelemetry registry

[2020-07-29 19:23] MrAlias opened #160 "Update CI to support integration tests"
In both the mongo and cassandra instrumentation the testing requires and actual database:

- https://github.com/open-telemetry/opentelemetry-go-contrib/blob/2baa89862fad76c1ed79eb74f36c9978c2a7a512/instrumentation/go.mongodb.org/mongo-driver/mongo_test.go#L33-L40
- https://github.com/open-telemetry/opentelemetry-go-contrib/pull/137#discussion_r458959469

Our current CI system does not stand any of

[2020-07-29 19:41] MrAlias opened #161 "Decouple instrumentation from default SDK"
Instrumentation needs to be lightweight when used. It should not have any large dependencies. However, there are multiple instrumentation packages that import the `go.opentelemetry.io/otel/sdk` package. Most common this is in examples or tests.

This dependency needs to be removed. It will likely depend on the resolution of https://github.com/open-telemetry/opentelemetry-go/issues/872.

[2020-07-29 20:48] reggiemcdonald commented on #160
I would be interested in getting the tests running for mongo and gocql!

[2020-07-30 08:10] XSAM opened #163 "Add test for the Sarama consumer group"
This issue comes from #153 to track the missing test for the Sarama consumer group.

Currently, sarama does not have a mock consumer group, so it's hard to write a unit test.

-----

Sarama issue: https://github.com/Shopify/sarama/issues/1767
Possible implements of mock consumer group: https://github.com/Shopify/sarama/pull/1750

[2020-07-30 19:35] reggiemcdonald commented on #91
All tasks completed, ready to close

[2020-07-30 21:02] MrAlias commented on #91
Awesome :tada:! Thanks for the help @reggiemcdonald

[2020-07-30 21:02] #91 closed

[2020-07-30 22:43] MrAlias opened #164 "Update instrumentation naming conventions"
[Our instrumentation naming convention](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/instrumentation#packaging) is well structured to find appropriate instrumentation, but the duplication of the package name is guaranteed to cause collision with the package users are instrumenting.

### Options

1. Leave it as is and let the user deal with package naming overrides.
2. Add

[2020-07-30 22:45] MrAlias commented on #164
There might be a 3.a option that deals with "if it is the same as the package name" differently, but I think it still isn't the correct choice.

[2020-07-30 23:07] Aneurysm9 commented on #164
I like option 4.  Even though it is the most verbose I think it best supports discoverability and naming conflict avoidance.  I would, however, suggest moving "otel" from a suffix to a prefix.  `otelmux.Middleware()` reads better to me than `muxotel.Middleware()`, perhaps because it makes "otel" a true prefix of the entire reference rather than being stuck in the middle.

[2020-07-31 13:14] johejo commented on #164
Question:
In Option 4, if the target module already has an import path of "foo/bar/barotel", what will it like?
I haven't seen a module like this, but it's worth considering.

[2020-07-31 21:53] bogdandrutu opened #197 "Implement `grpc.StatsHandler` for grpc instrumentation"
See OpenCensus https://godoc.org/go.opencensus.io/plugin/ocgrpc

Much easier to use and implement, now:
[code]
After:
[code]

[2020-07-31 21:58] bogdandrutu opened #196 "Change grpc instrumentations to accept `trace.Provider` instead of `trace.Tracer`"
See https://github.com/open-telemetry/opentelemetry-go-contrib/blob/df4904080a5e92a40aa573a026b4108447471ec9/instrumentation/google.golang.org/grpc/interceptor.go#L65

Usually the name/version of the `trace.Tracer` is something that the instrumentation library should control, but we should allow configuring the `trace.Provider`.

[2020-08-03 20:51] derekperkins opened #195 "grpc/http: support custom KeyValues when reporting metrics"
We've been running OpenCensus for ~2 years and are excited to move to OpenTelemetry. The standard API has served us well, but our biggest issue with some of the wrapper packages like ocgrpc and ochttp are that they don't support custom KeyValues (TagKeys) when recording metrics. I can register my own views that include them, but because of the way that they wrap my server, I'm not passing a contex

[2020-08-04 14:58] MrAlias commented on #164
If there is a duplicate import name it would need to be resolved by the importer.

It seems like if that were the case for option (4) there would be no need to have instrumentation here as the library would have OTel support already.

[2020-08-04 19:18] MrAlias commented on #164
I'm not opposed to prefix instead of suffix. The initial idea of a suffix was to follow the `*test` naming practice of standard library testing package. I'm not sure why the decision was made to use a suffix there, but I imagine we can choose our own style if we plan to remain consistent.

[2020-08-07 15:42] reggiemcdonald commented on #82
Could the beego integration leverage the `net/http` integration that was merged in this week?

[2020-08-07 18:13] MrAlias commented on #82
That seems to be what the OpenTracing project did: https://github.com/opentracing-contrib/beego/blob/master/middleware.go

Sounds like a good approach to me. :+1:

[2020-08-10 14:15] #160 closed

[2020-08-12 05:55] reggiemcdonald opened #208 "Remove replace on go.mod at next release"
The `net/http` instrumentation, and the (not yet merged) `astaxie/beego` instrumentation both use a `replace` in the go.mod to use the mock meter for unit tests. This is because `internal/metric` is not in the most recent release of contrib.

This ticket is to remove the replace from the go mods at the next release.

[2020-08-13 14:32] lizthegrey opened #212 "Release v0.10.1"
It'd be helpful to let -go-contrib evolve a little faster than -go, so that for instance people can migrate in advance to the moved othttp instrumentation instead of having things be temporarily broken between v0.11 of -go and -go-contrib being released. Thoughts?

[2020-08-13 14:59] MrAlias commented on #212
Seems reasonable to me :+1:

[2020-08-13 15:22] lizthegrey commented on #212
Not actually blocking for me, it turns out https://pkg.go.dev/mod/go.opentelemetry.io/contrib/instrumentation/net/http@v0.0.0-20200813041938-b948cd370862 will work fine, but ideally still it'd be tagged with v0.10.1

[2020-08-13 15:24] MrAlias commented on #212
Looking to merge PRs that are ready and then get this out.

[2020-08-13 16:03] MrAlias opened #213 "Unify instrumentation *Provider options"
Currently there are many instrumentation packages that are directly configurable with a `Tracer` or `Meter` to use in the telemetry they gather.

- https://github.com/open-telemetry/opentelemetry-go-contrib/blob/32a76fe5fd2bafc439463d61320152a2987cc881/instrumentation/go.mongodb.org/mongo-driver/config.go#L50
- https://github.com/open-telemetry/opentelemetry-go-contrib/blob/370078e3876afd8713a3e25

[2020-08-13 16:20] MrAlias opened #214 "Instrumentation needs to include a version."
`Tracer`s and `Meter`s both take instrumentation versions as an option. All instrumentation in this repo should included that. This will help in debugging and when a Views API is created could be used to disable or unify different versions of the same instrumentation running on the same server.

- A version should be defined for all instrumentation in this repository.
- All instrumentation needs t

[2020-08-13 16:50] MrAlias commented on #213
Optionally, the instrumentation could be configured to accept a `*Provider` instead that would override the `global` package. As well maybe the configuration of `Propagators` could remain as well.

These could be useful to an operator if they wanted to separate out functionality. Though, outside of the propagators, I'm not immediately sure why.

[2020-08-13 17:46] MrAlias commented on #214
Reference example: https://github.com/open-telemetry/opentelemetry-go-contrib/pull/204/files#r470091488

[2020-08-13 18:11] MrAlias opened #217 "Add benchmark and integration testing for grpc instrumentation."
This testing and benchmarking is needed prior to any of the follow-on work for the gRPC instrumentation (#197 and #194).

Looks like we can use the [grpc_testing](https://godoc.org/google.golang.org/grpc/test/grpc_testing) package for this.

[2020-08-13 20:41] reggiemcdonald opened #218 "Consider exporting the tracer map in go.opentelemetry.io/contrib/internal/trace"
The current mock trace provider stores a map of the tracers created, but it isnt exported:
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/818b3374b7c9f82bf0deb06e26cbad50155c5f7b/internal/trace/mock_tracer.go#L30-L33

As we shift to using `WithTraceProvider` options (#213), it would be helpful to export the tracer map in the provider struct of the mocktrace package (`go.openteleme

[2020-08-13 22:35] MrAlias commented on #213
From the SIG meeting today, instrumentation in this repo ...

1. MUST provide an option to accept a `TraceProvider` if it uses a `Tracer`, a `MeterProvider` if it uses a `Meter`, and `Propagators` if it handles any context propagation
2. MUST use the default `TraceProvider`, `MeterProvider`, and `Propagators` supplied by the `global` package if no optional one is provided.
3. MUST not provide an o

[2020-08-13 22:47] MrAlias commented on #214
From the SIG meeting:

All instrumentation in this repo MUST share the same version and it needs to match repository version. This will unify this repos approach and avoid confusion of how things are versioned. It will also alleviate needing to track which versions are compatible with version of `otel`.

This also means that a top-level repository version `const` should be created so all instrumen

[2020-08-13 22:51] MrAlias commented on #164
SIG meeting made a decision to go with:

Add a prefix of `otel` to the declared package in the Go code and also add an additional directory with the instrumented library package name. E.g.

* `go.opentelemetry.io/contrib/instrumentation/runtime` -> `go.opentelemetry.io/contrib/instrumentation/runtime/otelruntime`
* `go.opentelemetry.io/contrib/instrumentation/github.com/gorilla/mux `-> `go.opentel

[2020-08-14 00:20] #212 closed

[2020-08-14 17:27] jmacd opened #222 "Create top-level README to explain what kinds of instrumentation are present"
I feel that "runtime" by itself is problematic, it's too general.

Possible names:
- "plugins/runtimemetrics"
- "plugins/metrics/runtime"

I prefer the first option because it avoids a conflict with the builtin "runtime" package in Go.

[2020-08-14 17:36] MrAlias commented on #222
This would break from our consistent instrumentation package naming scheme https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/instrumentation#packaging

The goal of the existing naming scheme is to prioritize clarity of what package is being instrumented and aid discoverability. Given this package instruments the Go `runtime` package, the name seems appropriate enough to me.

T

[2020-08-14 17:39] jmacd commented on #222
The top-level README sounds good. I will rename this issue.

[2020-08-15 00:10] evantorrie commented on #208
As you observed, the `replace go.opentelemetry.io/contrib => ../../../..` directive in a submodule's `go.mod` is necessary only when the submodule's code depends on a new addition/change in the top-level `go.opentelemetry.io/contrib` module.

Admittedly, that is likely to become more rare as the code base stabilizes, but https://github.com/open-telemetry/opentelemetry-go-contrib/issues/214#issueco

[2020-08-15 02:14] MrAlias opened #227 "Add build check to ensure all code files include a license header"
For example:

https://github.com/open-telemetry/opentelemetry-go/blob/45b6a22cbba2fb3015c50ad095ff61f51b81aece/Makefile#L144-L152

_Originally posted by @MrAlias in https://github.com/open-telemetry/opentelemetry-go-contrib/pull/224_

[2020-08-15 07:28] XSAM commented on #213
I'd like to take this up.

[2020-08-15 17:43] reggiemcdonald commented on #213
@XSAM yesterday I started a fix for the gocql instrumentation. Did you mind skipping that one?

[2020-08-16 04:09] XSAM commented on #213
@reggiemcdonald Not at all, I will skip that part.

[2020-08-16 16:07] Aneurysm9 opened #229 "Include git short hash or release indicator in `contrib.Version()`"
It would be ideal if the `contrib.Version()` function could include information about the git commit used if it is not a release tag.  See [comment on addition of `contrib.Version()`](https://github.com/open-telemetry/opentelemetry-go-contrib/pull/225#pullrequestreview-467938529).  Unfortunately, the `Makefile`-based approach used in the project referenced there looks like it would only work at th

[2020-08-16 16:18] #227 closed

[2020-08-18 00:25] reggiemcdonald opened #232 "make precommit fails on exporters/cortex/metric package"
Running `make` fails on master for me. The error given is an invalid type conversion here:
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/0d5bd34c447991225d7ab6eaf59a4570bb1163d0/exporters/metric/cortex/cortex_test.go#L73

It seems that `aggregation.Kind` is a string type, but here an integer is being cast

[2020-08-18 03:10] reggiemcdonald commented on #232
closing - was a go issue

[2020-08-18 03:10] #232 closed

[2020-08-18 03:34] MrAlias commented on #232
Did you test with Go 1.15 by chance? I imagine it might be the the same error resolved here https://github.com/open-telemetry/opentelemetry-go/pull/1064/commits/47b1fd8746f3c88280e2ce6fcdacd81f964067ad

Going to open an issue to track moving tests to Go 1.15 here as well.

[2020-08-18 03:36] MrAlias opened #233 "Update build to use Go 1.15"
Similar to [this](https://github.com/open-telemetry/opentelemetry-go/pull/1064), update the build to stop building Go 1.13 and start using 1.15. This will likely require similar code fixes (see #232)

[2020-08-18 03:38] MrAlias opened #234 "Investigate using a FilterChain in beego instrumentation"
The upstream package is planning to release code that would make low-cardinality naming more direct, though it is not yet released. When it is we should evaluate switching to that.

_Originally posted by @MrAlias in https://github.com/open-telemetry/opentelemetry-go-contrib/pull/200_

[2020-08-18 03:49] reggiemcdonald commented on #232
Its a developer version thats essentially at 1.15. So yea I'd say its related to the linked error

[2020-08-18 15:11] MrAlias opened #239 "Update build to verify current and previous versions of Go"
[Similar to the main repository](https://github.com/open-telemetry/opentelemetry-go/blob/f995380e5848d2b9287f8b8e0608a4bda6f986d5/.circleci/config.yml#L2-L10) this repository needs to maintain compatibility with both the current version of Go and the previous version.

_Originally posted by @MrAlias in https://github.com/open-telemetry/opentelemetry-go-contrib/pull/236_

[2020-08-18 15:31] MrAlias opened #240 "Update `runtime` instrumentation name"
Yeah, this should be fully qualified:

`"runtime"` -> `"go.opentelemetry.io/contrib/instrumentation/runtime"`

_Originally posted by @MrAlias in https://github.com/open-telemetry/opentelemetry-go-contrib/pull/224_

[2020-08-18 15:32] #233 closed

[2020-08-18 15:58] #240 closed

[2020-08-18 21:36] jmacd opened #244 "Host metrics instrumentation development needed"
The host metrics instrumentation pending in https://github.com/open-telemetry/opentelemetry-go-contrib/pull/231 is just a start at having a full set of host metrics. It records a handful of host metrics that the OTel collector's "hostmetrics" receiver would generate. The host metrics instrumentation in this repository is meant as an alternative to running the OTel collector for gathering host metr

[2020-08-18 21:44] reggiemcdonald opened #245 "Update gomemcached TestMain to use helper function"
`TestMain` in the gomemcache unit tests should be updated to use the utility function `"go.opentelemetry.io/contrib/internal/util".IntegrationShouldRun` so that the unit tests only run when `INTEGRATION` is set to the correct value.

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/453f28e704544a3ed8393b3e5cf7f94ba4c05b69/instrumentation/github.com/bradfitz/gomemcache/gomemcache_tes

[2020-08-19 10:58] firefixmaarten opened #249 "Missing attribute service.name when using instrumentation net/http through opentelemetry collector."
Related to:
https://github.com/open-telemetry/opentelemetry-collector/issues/1385#issuecomment-664525162

using the following code:
[code]
go.mod:
[code]
OTel collector is version 0.8.0.
[code]
This results in an empty ServiceName field in jaeger => making the UI less usefull
[code]

Are we on OTLP protocol 0.4.0 or a older version for this instrumentation net/http ?
https://github.com/open-teleme

[2020-08-20 03:02] XSAM commented on #249
I run this code in my local machine but cannot reproduce this issue.

<details>
<summary>go.mod</summary>

[code]
</details>

<details>
<summary>docker-compose.yaml</summary>

[code]
</details>

<details>
<summary>Environment</summary>

[code]
</details>

[2020-08-20 05:09] firefixmaarten commented on #249
I removed some code to make the example a bit more simple, let me test it again.
Will also look into the jaeger version. I think I used the 'latest' docker image but I will double check. Thanks for the feedback.

[2020-08-20 06:36] firefixmaarten commented on #249
I found the bug, was an assumption on my end that was incorrect, sorry for wasting your time:
`
tp, err := sdktrace.NewProvider(sdktrace.WithConfig(
    sdktrace.Config{DefaultSampler: sdktrace.AlwaysSample()}),
    sdktrace.WithResource(resource.New(standard.ServiceNameKey.String("client-test"))),
    sdktrace.WithResource(resource.New(standard.HostNameKey.String(host))),
    sdktrace.WithSyncer(

[2020-08-20 06:36] #249 closed

[2020-08-20 15:22] j2gg0s opened #252 "How to get metrics about gin/mux/kafka"
Otel is a greate project.

I work with gin and kafka, but i can't find how to get metrics about them.
These work had beed done?

[2020-08-20 15:28] MrAlias commented on #252
We are waiting on [semantic conventions for HTTP](https://github.com/open-telemetry/opentelemetry-specification/pull/739) to be defined.

[2020-08-20 18:06] newrelic-eheinlein commented on #164
I would be interested in working on this issue!

[2020-08-20 21:13] reggiemcdonald commented on #82
@MrAlias go ahead and close this one! `opentelemetry.io` has been updated with a link to the beego integration

[2020-08-20 22:17] MrAlias commented on #82
Awesome @reggiemcdonald!  Thanks for all the help :1st_place_medal:

[2020-08-20 22:17] #82 closed

[2020-08-21 02:43] #252 closed

[2020-08-21 07:15] XSAM commented on #213
@MrAlias

Maybe we can use `TracerProvider` instead of `TraceProvider`, because it brings more consistency for naming since the other provider is called `MeterProvider`.

[2020-08-24 08:18] inigohu opened #257 "net/http instrumentation not working with TLS server"
`go.opentelemetry.io/contrib/instrumentation/net/http` library is not generating traces with TLS server.

This is my example:
[code]

If I switch to  `http.ListenAndServe`, it works and get the traces.

[2020-08-24 16:54] #245 closed

[2020-08-24 18:49] MrAlias commented on #257
I was not able to reproduce this. This is what I did:

1. Create a cert pair using [mkcert](https://github.com/FiloSottile/mkcert):
[code]
2. Update [the net/http example](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/bf0a55584ca94ecbe48261d8d82eb815e737a512/instrumentation/net/http/example/server/server.go#L65) to serve TLS:
[code]
3. Send a request:
[code]
4. Look back at the s

[2020-08-25 15:32] MrAlias opened #295 "Create a codes conversion function for gRPCs instrumentation"
Similar to what [the SDK does](https://github.com/open-telemetry/opentelemetry-go/blob/efd4e3a3838dc6e7c8428db677b15693c2274623/sdk/internal/codes.go) we need an internal conversion function for the `google.golang.org/grpc` instrumentation instead of assuming the underlying `unit32` is the same:

https://github.com/open-telemetry/opentelemetry-go-contrib/pull/282/files#diff-e8efb286b388c2fecb39033

[2020-08-25 17:44] derekperkins commented on #195
Any thoughts? I saw a related issue in the main ot-go repo.
https://github.com/open-telemetry/opentelemetry-go/issues/1051

[2020-08-25 23:29] asuffield opened #299 "grpc instrumentation: extract arbitrary request/response fields into trace attributes"
This question came up when implementing an application: why should the application have to add code to copy fields from the request or response protos into the trace span attributes? Can't this be done by generic middleware?

If it can be done by generic middleware then it might as well live in the instrumentation here, and if it can't then we should document why not. There are obvious challenges

[2020-08-26 00:18] evantorrie opened #300 "Add codecov visualization/reporting to contrib repo"
Similar to what was done for the main repo: https://github.com/open-telemetry/opentelemetry-go/pull/995

[2020-08-26 02:04] TommyCpp opened #367 "B3 Propagators should set sample bit when debug flag is set"
As suggested in b3 propagation spec

Currently, when debug flag is set, the span context's traceflags will be set to `FlagsDebug`. [One example](https://github.com/open-telemetry/opentelemetry-go/blob/1f2eba2cdb0fb7e92ce199c6c06167d4080a55ff/api/trace/b3_propagator_test.go#L215) can be found in tests. Also when trace flag is set to `FlagsDebug` only, the `SpanContext.IsSampled` method will return

[2020-08-26 09:50] inigohu commented on #257
@MrAlias I have followed your example and now it works well.

The problem was that I was testing it with an invalid certification.

[code]

I don't know if this is the desired behavior. I think it could be interesting to have the TLS error span in the trace. WDYT?

[2020-08-26 15:15] Aneurysm9 commented on #257
That is a `curl` error, is it not?  It sounds like the `net/http` server and instrumentation are working but cURL is not allowing the request to be made because it cannot validate the server certificate.  In that case I'm not sure there is much that can be done at the instrumentation level because no request has been made and the instrumentation's HTTP request handler has not been invoked.

[2020-08-26 15:37] Aneurysm9 commented on #195
My initial thought is perhaps to have the handler inject something into the request context that can be used to add labels:

[code]

[code]

I'll try to prototype something along these lines and see how it feels.

[2020-08-26 16:34] reggiemcdonald commented on #214
I could help out with adding versions to the existing instrumentation packages, if help is still needed on this?

[2020-08-26 17:10] MrAlias commented on #257
I think @Aneurysm9 is correct in stating that it is an error with `curl` which means that the instrumentation never even saw the request. Going to close but feel free to reopen if you find differently.

[2020-08-26 17:10] #257 closed

[2020-08-26 17:19] MrAlias commented on #49
Resolved by https://github.com/open-telemetry/opentelemetry-go-contrib/pull/154

[2020-08-26 17:19] #49 closed

[2020-08-26 17:20] MrAlias commented on #119
This looks complete. Going to close. Please feel free to reopen if needed.

[2020-08-26 17:20] #119 closed

[2020-08-26 17:23] MrAlias commented on #295
This should be held off on until the state of a Span's Status is better known. https://github.com/open-telemetry/oteps/pull/134

[2020-08-26 17:25] MrAlias commented on #158
I think this might be complete.

[2020-08-26 18:38] #217 closed

[2020-08-26 23:21] derekperkins commented on #195
@Aneurysm9 thanks for the response, that looks like a much nicer api than the one I proposed. It's simple to use, minimal overhead, looks great!

[2020-08-27 01:48] #158 closed

[2020-08-27 16:32] MrAlias opened #310 "Investigate Cortex exporter test panics"
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-go-contrib/814/workflows/0312cefe-6305-4bf6-aac5-410ba6a5e5cc/jobs/1444

Looks like a timeout is causing the testing to panic after 30 seconds. Can this behavior be designed away otherwise it should be tuned to not panic.

[2020-08-27 17:54] evantorrie commented on #310
This always seems to be for the 386 build only.  Profiling it shows 90+% of the time in `math/big.addMulVVW` which is part of the crypto random number generation for the CA cert, server cert and client key/cert.

[2020-08-27 22:07] MrAlias commented on #310
Might be related to https://github.com/golang/go/issues/22643

[2020-08-27 22:09] MrAlias commented on #310
From the SIG meeting today we talked about making the certs static and storing in a `testdata` directory that is checked in.

[2020-08-27 22:38] MrAlias commented on #5
Prior attempt within this repo: https://github.com/open-telemetry/opentelemetry-go-contrib/pull/32

[2020-08-28 00:08] MrAlias opened #313 "Investigate Host TestHostMemory Failure"
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/e6529ec93a556502d6a8623a8473eb1ec5a41fa5/instrumentation/host/host_test.go#L182-L183

I'm not able to run the tests locally anymore as this test is a constant failure on my local machine, routinely having greater than 10% relative error.

[code]

It also periodically fails on the CI system as well, i.e. https://app.circleci.com/pipeli

[2020-08-28 00:11] MrAlias commented on #313
It looks like it might also be correlated with 386 architecture tests. This is conjecture at this point though.

[2020-08-28 21:54] seanschade commented on #5
@seslattery are you still planning on submitting a PR?

@MrAlias what are your thoughts on using something like https://github.com/ngrok/sqlmw as an interceptor to wrap drivers?

I think an approach similar to https://github.com/seslattery/otelsql is more desirable than https://github.com/open-telemetry/opentelemetry-go-contrib/pull/32.

If we would like to forego the wrapper approach then we have

[2020-08-29 00:39] evantorrie commented on #229
As @Aneurysm9 notes, what we're providing here are libraries, not standalone binaries (with the exception of the "examples").

We don't have control over build arguments of consuming applications to set link variables as used in the [Postgres example](https://github.com/wrouesnel/postgres_exporter/blob/3e6cf08dc56a19c6c9a9388535d1dd6239b01219/Makefile#L61) and nearly all applications will consume

[2020-08-29 00:54] evantorrie commented on #310
I think this has been addressed already, but an alternative would be to drop the number of bits in the RSA private key generation. Dropping from `4096` to `1024` bits improves runtime by around two orders of magnitude on my machine.

[2020-08-29 02:30] jmacd opened #316 "Runtime instrumentation: GC "total time spent" metric"
I noticed a few things that I'd like to change about the GC timing metrics emitted by `instrumentation/runtime`.

--

`runtime.go.gc.pause_total_ns` should not include a "_ns" unit suffix.
`runtime.go.gc.pause_ns` as well.

The main repository does not have a Unit declared for Nanoseconds. It's appropriate to report these in nanoseconds, since they are provided in nanoseconds, but I'd like to set

[2020-08-29 03:46] ercl commented on #310
Thanks for that tip! I didn't think lowering it to `1024` would improve performance so much. While I was testing that out, I also tried using ECDSA P256 and I ended up changing the key generation functions to use that since it seems to have even better performance than RSA 1024. I added some of my results from `pprof` on my PR comment.

[2020-08-30 17:59] ChrisJBurns opened #319 "MongoDB Driver creates new traces in Jaeger instead of adding to existing trace"
Hi,

So I'm writing a blog post about OpenTelemetry and I am more specifically writing up about Tracing. I'm setting up a few microservices to show the power of tracing with Jaeger as the main UI to see the traces. However during the Golang development of the service I am having problems.

Currently I've got a basic service that creates employees and gets employees and am doing so via the gin-toni

[2020-08-30 18:02] seslattery commented on #5
@seanschade Thanks for the ping!  Sorry for the delay, this fell off my radar.  I cleaned up the code a little bit and added an example.  PR is here: https://github.com/open-telemetry/opentelemetry-go-contrib/pull/320.  Notably my implementation still doesn't have any tests.

[2020-08-31 15:55] evantorrie commented on #319
Are you passing the `*gin.Context.Request.Context` object from the gin-tonic handler to the requisite `mongo.Client` operations?

It may be a little confusing with `gin-gonic/gin` because it has its own type `gin.Context` which gets passed as a parameter to an HTTP handler. But the context which should be passed down into the mongo.Client operations is the standard Go library `Context` object, ava

[2020-08-31 16:15] ChrisJBurns commented on #319
@evantorrie That's great, thank you so much. I remember playing around with the `Context` object yesterday quite a lot and couldn't get it to work. So it seems I was using the incorrect `Context` Object. Thank you :)

Is this worth adding to the documentation or is this something I missed from some documentation somewhere?

[2020-09-01 03:31] derekperkins commented on #5
Looking at that PR, it would be nice to be able to opt into specific spans. The SQL driver can be very chatty, so allowing opt-in like the ocsql package would be nice.
https://github.com/opencensus-integrations/ocsql/blob/master/options.go#L12-L64

[2020-09-01 16:17] #213 closed

[2020-09-02 00:55] evantorrie commented on #319
In Go, the concept of the built-in `context.Context` in the standard library is fairly well understood and almost universal these days, but it was not introduced into Go until version 1.7. I imagine that `gin-gonic`'s `Context` predates this standard library availability, which is why there's the conflict in names.

The [example code](https://github.com/open-telemetry/opentelemetry-go-contrib/blob

[2020-09-05 14:59] ChrisJBurns commented on #319
@evantorrie Yes that is understandable. Thanks for all your help!

[2020-09-08 16:03] MrAlias commented on #5
I agree with @derekperkins on the approach. I think an approach similar to what OpenCensus did is preferred to the approach of using the `sqlmw` approach.

This sounds like a great idea :+1: . I think including something like this in this issue would help future developers understand the eventual choice made and what out strategy was.

[2020-09-08 16:49] faceair commented on #5
I think newrelic's sqldriver injector is simpler and more elegant.

https://github.com/newrelic/go-agent/blob/v3.9.0/v3/newrelic/sql_driver.go
https://github.com/newrelic/go-agent/blob/v3.9.0/v3/newrelic/sql_driver_optional_methods.go

[2020-09-09 01:04] #319 closed

[2020-09-09 05:09] #195 closed

[2020-09-09 16:39] ercl commented on #310
I think this issue this can be closed since it was resolved by #315.

[2020-09-09 18:00] #310 closed

[2020-09-10 19:55] MrAlias commented on #229
@evantorrie I think you make a good point in that this is not going to be built into a library. I'm going to relabel this for after GA, but I'm not entirely sure it is something we want to spend too much time on in light of the good points made.

[2020-09-11 18:57] ercl opened #338 "[Prometheus Remote Write Exporter for Cortex] Add configuration option for selectors"
Currently, the Prometheus Remote Write Exporter for Cortex defaults to using a Histogram selector. There should a be configuration option as mentioned in issue [#1139](https://github.com/open-telemetry/opentelemetry-go/issues/1139#issuecomment-690774659) (otel-go repo) so users can choose which selector they would like to use.

[2020-09-11 19:13] TommyCpp opened #358 "Proposal: Add Jaeger propagator"
As detailed in [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#propagators-distribution), SDK should come with B3 and Jaeger propagators. We already have B3 propagator, so it make sense to add a jaeger propagator.

I'd like to work on that if that sounds good.

[2020-09-14 22:06] KKelvinLo commented on #239
Hello! Can I take up this issue to work on?

[2020-09-16 06:37] j2gg0s opened #349 "[database/sql] Refactor ocsql for opentelemetry"
Our project trying to migrate from opencensus to opentelemtry.
So we fork ocsql and refactor it for opentelemetry in https://github.com/j2gg0s/otsql .

Opentelmetry has any plan about database/sql ?

[2020-09-16 06:38] j2gg0s commented on #349
Related with #5

[2020-09-16 16:08] MrAlias commented on #349
#5 captures the effort around this.

[2020-09-16 16:08] #349 closed

[2020-09-16 20:34] matej-g commented on #161
It seems now also with tracing utilities being available (https://github.com/open-telemetry/opentelemetry-go/pull/1111), nothing should be blocking this from `go.opentelemetry.io` side, right? If so I'd be happy to take it.

[2020-09-17 01:35] j2gg0s commented on #5
Is there any progress about this issue?
If we need an approache like opencensus, how about https://github.com/j2gg0s/otsql , used in our other project.

[2020-09-17 04:22] anuraaga opened #350 "Confirm specification for runtime information"
open-telemetry/opentelemetry-specification#882 is adding a list of well-known runtime information to the specification to populate in the Resource. The author (me) only knows Java well and has guessed at helpful values for other languages. Please check the spec and update it if there is anything that should be fixed or could be more clear. Thanks!

[2020-09-18 14:32] vmihailenco opened #352 "macaron instrumentation is missing v0.11 tag"
[code]

[2020-09-18 15:04] Aneurysm9 commented on #352
It looks like that instrumentation was moved to `instrumentation/gopkg.in/macron.v1` in #92 but the module declaration in `go.mod` was not updated.  Using the old import path is giving a very old version of the module.

[2020-09-18 16:18] amanbrar1999 commented on #352
Is this issue free to pick up? @Aneurysm9  - cc @alolita

[2020-09-18 21:25] KKelvinLo commented on #239
Should this issue be closed?

[2020-09-18 21:27] #239 closed

[2020-09-19 08:49] kevindavee commented on #5
hi, any progress about this issue?

[2020-09-20 09:09] marvinkite opened #355 "Investigate GRPC Tracer to support filtering or exclude the Health Checking Protocol."
If my GRPC service implements the [GRPC Health Checking Protocol](https://github.com/grpc/grpc/blob/master/doc/health-checking.md) the GRPC Client library and my Kubernetes health probe call it regularly and generates a "noise" only. I'd like to filter out them the same way I could filter in HTTP the Health check. It could also be part of the library as bool option to ignore these calls.

Somethin

[2020-09-22 15:17] MrAlias opened #357 "Stop setting HTTP status text"
In the HTTP instrumentation we need to not set the status text (they are inferable from the status code). This is to conform to https://github.com/open-telemetry/opentelemetry-specification/pull/972

[2020-09-22 19:06] MrAlias commented on #352
Closed by #356

[2020-09-22 19:06] #352 closed

[2020-09-22 20:35] chrisleavoy commented on #316
I can take on adding a nannoseconds unit and updating the runtime instruments.

But GOMAXPROCS() indeed can change dynamically at runtime. It wasn't apparent to me how I could approximate a value for `gcSeconds` if maxprocs were to change after a long period at a different value.

[2020-09-23 07:04] liguozhong opened #360 "[metrics] prometheus remote write exporter"
https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/exporters/metric/cortex

https://github.com/open-telemetry/opentelemetry-go/tree/master/exporters

Please add cortex exporter to this project.

![image](https://user-images.githubusercontent.com/9583245/93978545-bb7eaf00-fdae-11ea-9005-4ad68b83733a.png)

[2020-09-23 11:12] vmihailenco commented on #352
pkg.go.dev still says

[code]

Did you tag fixed version?

[2020-09-23 17:59] amanbrar1999 commented on #352
Does this just require a git tag to be pushed called something like `instrumentation/gopkg.in/macaron.v1/v0.9.1`?
I don't have permission to push tags

[2020-09-23 18:51] Aneurysm9 commented on #352
Yes, this will require that we make a new release.  I intend to do this tonight or tomorrow, depending on how many outstanding PRs we can resolve today.

[2020-09-24 14:48] Aneurysm9 commented on #360
I have moved this issue to the https://github.com/open-telemetry/opentelemetry-go-contrib repository.

The exporter, while named "cortex" is indeed intended to support the Prometheus remote write protocol generally.  This is called out at the [top of its `README.md`](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/master/exporters/metric/cortex/README.md)

The code in the screensho

[2020-09-24 16:06] #164 closed

[2020-09-24 19:19] MrAlias commented on #5
Is there someone is this issue that could head up this effort? This issue has not seen much focus from the maintainer/approver development team of this project as it is not a part of the things needed for our GA release (there are quite a lot of [issues](https://github.com/open-telemetry/opentelemetry-go/projects/1) prioritized for that effort that need to take precedence).

That said, it seems li

[2020-09-25 06:30] stanleynguyen opened #364 "Error handler triggered twice for echo"
Calling `c.Error`
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/b313ddb2989e21338560e24b9e9478c563017d20/instrumentation/github.com/labstack/echo/otelecho/echo.go#L84
and returning err from a middleware
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/b313ddb2989e21338560e24b9e9478c563017d20/instrumentation/github.com/labstack/echo/otelecho/echo.go#L92
will trigger

[2020-09-25 06:31] stanleynguyen commented on #364
I will submit  PR if there's no suggestion otherwise

[2020-09-25 09:13] liguozhong commented on #360
[metrics] cortex exporter: Upgrade Prometheus 2.21.0 dependency #365

[2020-09-25 09:38] Hades32 opened #366 "Upgrade to v0.12.0 of go.opentelemetry.io/otel"
The new version moved/renamed several packages. Therefore we cannot upgrade to otel v0.12.0 without go-contrib also upgrading

[2020-09-25 09:39] Hades32 commented on #366
There's already PR #363 for this

[2020-09-25 15:15] MrAlias commented on #364
SGTM :+1:

[2020-09-25 16:04] #366 closed

[2020-09-25 17:29] seankhliao opened #368 "runtime instrument type"
My setup was a fairly simple one, expecting more or less the equivalent metrics from prometheus `http.Handle("/prommetrics", promhttp.Handler())` for the go runtime.

[code]

The metrics recorded by `runtime` are of type `metric.Int64UpDownSumObserver`, which is additive, resulting in numbers that are out of place (eg 200k goroutines, 60GiB of allocated memory on a machine with 2GiB, ...) and  gra

[2020-09-26 02:49] TommyCpp commented on #367
@MrAlias Yep i'd love to! Could finish this along with the Jaeger propagator over the weekend.

[2020-09-28 16:42] jmacd commented on #368
We need to do something in the specification about this. Since Prometheus does not support `UpDownSumObserver` semantics, the Prometheus exporter should convert these to Gauge. There is a related OTEP here: https://github.com/open-telemetry/oteps/pull/118, but it does not state this specifically and it is mired in issues related to histogram vs gauge, not counter vs gauge. :grinning:

I will file

[2020-09-28 20:50] jmacd commented on #368
Thanks @seankhliao. It looks fairly straightforward to fix this support in the Prometheus exporter.
https://github.com/open-telemetry/opentelemetry-go/issues/1210

[2020-09-28 21:28] seankhliao commented on #368
thanks for looking into this

[2020-09-29 14:48] #367 closed

[2020-09-29 20:02] nchandran3 opened #376 "Question: Add propagation through RabbitMQ messages"
Is it possible / advisable to add propagation logic for RabbitMQ messages, much like `HTTPInjectors` / `HTTPExtractors`.

If so, interested in contributing these.

[2020-09-29 20:08] Aneurysm9 commented on #376
I've moved this issue to the opentelemetry-go-contrib repo as that is where such instrumentation would live.  Instrumentation for non-HTTP message-based systems is definitely desirable.  You can take a look at the [Sarama instrumentation](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/v0.12.0/instrumentation/github.com/Shopify/sarama/otelsarama) for an example of how such a system

[2020-09-30 14:49] #222 closed

[2020-10-01 18:05] evantorrie opened #380 "Ensure links to contributed plugins are updated in OpenTelemetry registry"
https://opentelemetry.io/registry/ acts as a registry of contributed plugins. For plugins that exist in this repo, we should ensure that the links to them are kept up to date when

* new plugins are added
* plugin names and/or locations are changed

This ticket is to track updating them as of the current repo snapshot, but we may also consider creating an automated "link checker" to create/update

[2020-10-04 20:49] matej-g opened #385 "Consider using trace and meter test helpers from the OTEL repository"
The `contrib` repository currently implements it's own set of trace / meter test helpers in the `internal` directory. However, these helper are functionally mostly identical to the helpers which are presently already available in the `otel` repository and can be exported for use in the `contrib` repository.

Specifically, this would mean replacing
- `go.opentelemetry.io/contrib/internal/metric`
-

[2020-10-05 18:41] #161 closed

[2020-10-05 19:27] matej-g commented on #357
I had a look and it seems after https://github.com/open-telemetry/opentelemetry-go/pull/1194 no further action is necessary in the `contrib` repository. The method `HTTPAttributesFromHTTPStatusCode` from `go.opentelemetry.io/otel/semconv` used within HTTP instrumentation packages no longer includes status text attribute.

Is this correct?

[2020-10-05 20:10] #364 closed

[2020-10-05 20:16] Aneurysm9 commented on #357
That sounds correct.  I believe the `otelhttp` instrumentation delegated to the `semconv` package for the most part, so resolving the issue there should extend to `otelhttp` as well.

[2020-10-05 20:41] SergeyKanzhelev opened #386 "FluentBit exporter"
Define a data format and create an exporter for traces and metrics from OpenTelemetry to FluentBit. This will allow customers to use existing log delivery pipeline to upload telemetry collected by the rich set of various OpenTelemetry SDKs. Pipeline we want to enalbe is SDK->FluentBit->OpenTelemetry Collector->Jaeger to see traces.

This issue is features as a [Community Bridge](https://github.com

[2020-10-06 16:10] MrAlias commented on #386
@SergeyKanzhelev is there a particular person that the Community Bridge project had in mind to work on this or is this open for anyone to work on this?

[2020-10-07 09:17] Syn3rman commented on #386
Hey @MrAlias, I will be working on this :)

[2020-10-07 12:13] matej-g opened #387 "Update span status code setting in gRPC interceptor to reflect changes in the spec"
It seems after https://github.com/open-telemetry/opentelemetry-specification/pull/966, and also taking into consideration changes made to `codes` pkg  (https://github.com/open-telemetry/opentelemetry-go/pull/1214), the span error codes are no longer 1:1 with gRPC errors.

When setting a span status based off the `Status` from `grpc` in `otelgrpc/interceptor.go`, this change should be taken into co

[2020-10-07 12:16] matej-g commented on #385
So I think possibly this and the issues mentioned above (https://github.com/open-telemetry/opentelemetry-go-contrib/issues/385#issuecomment-704378772) can now be resolved in one go - seeing that those 2 issues are marked with p2 priority label.

What do you think @MrAlias? If you agree, I can take this.

[2020-10-07 14:58] MrAlias commented on #385
That sounds correct to me :+1:

[2020-10-07 15:01] MrAlias commented on #385
@matej-g looks like I can only assign this issue to you as you are not a part of the OpenTelemetry Org (yet, you should [become a member](https://github.com/open-telemetry/community/blob/master/community-membership.md#member) :smile:). If you want, you can also comment on those issues and I'll be able to assign them to you.

[2020-10-08 00:05] shousper commented on #5
+1 for @j2gg0s's implementation. `otelsql` only has a tracing implementation.

Metrics are far more important to us than tracing as they power alerting, dashboards and automation.

[2020-10-09 02:37] codeboten opened #389 "Upgrade to v0.13.0 of go.opentelemetry.io/otel"
The new version moved/renamed several packages. Therefore we cannot upgrade to otel v0.13.0 without go-contrib also upgrading

[2020-10-09 03:19] #358 closed

[2020-10-09 03:44] Aneurysm9 commented on #389
Upgrading contrib is a standard part of our release process and typically follows a day behind.  I've started on this process, but the propagator changes this time around are less amenable to `s///g` so it may take slightly longer.

[2020-10-09 06:34] matej-g commented on #385
I'll comment on those, and look into that membership doc 🙂

[2020-10-09 06:35] matej-g commented on #43
Would take this toget with #385

[2020-10-09 06:35] matej-g commented on #31
Would take this toget with #385

[2020-10-09 15:03] codeboten commented on #389
Hey @Aneurysm9, I wasn't sure if it was part of the process or not so thanks for clarifying!

[2020-10-09 15:36] Aneurysm9 commented on #389
No worries! I'd love to have a process whereby we could release the main repo and contrib simultaneously, but I'm not sure I see a great way to it since we need to be able to update the `go.mod` files in contrib to point to the new release tag.  Once we hit 1.0 this will (hopefully) become a non-issue as we'll stop breaking things with every release! :)

[2020-10-09 20:43] Aneurysm9 commented on #387
#391 addresses this to some respect in that it needed to update the span status codes to `codes.Error` to account for https://github.com/open-telemetry/opentelemetry-go/pull/1214.  @matej-g is there anything else you feel needs to be done for this issue, or can it be closed with the `v0.13.0` release?

[2020-10-10 02:07] MrAlias opened #392 "Instrumentation Should Not Set Global Defaults"
When instrumentation sets propagator defaults for the `global` package there is bound to be contention between concurrently run instrumentation. For example,

https://github.com/open-telemetry/opentelemetry-go-contrib/pull/391/files#diff-be6acc7451ab598bc6c0bbc0e02f8e4bR44-R45

and

https://github.com/open-telemetry/opentelemetry-go-contrib/pull/391/files#diff-8b8f618e742f8a44395347c761025034R70

[2020-10-10 02:14] MrAlias commented on #392
On a closer read, this is only being done in tests and examples. Please disregard.

[2020-10-10 02:14] #392 closed

[2020-10-10 02:32] Aneurysm9 commented on #392
Still a fair point on the test at least.  I'm pushing up a change to avoid that.

[2020-10-10 02:40] #389 closed

[2020-10-12 09:28] HowJMay opened #397 "Datadog exporter for tracing"
The metric exporter of Datadog has been implemented in https://github.com/open-telemetry/opentelemetry-go-contrib/blob/0a44db8d6161e040c9ee785bd0d0fbc5fa13056a/exporters/metric/datadog/datadog.go#L37.
However, it is lack of an exporter for tracer. Will it be implemented in the future? Or there has been a way to connect opentelemetry tracer with Datadog?

[2020-10-12 21:16] Aneurysm9 commented on #397
I am not currently aware of a Datadog trace exporter for the OTel Go SDK.  Many vendors have implemented exporters outside of this repo, but I don't believe Datadog has one yet.

[2020-10-13 03:21] dackroyd opened #398 "AWS Resource detector fails with an error if metadata not available"
If the instance metadata is not available, no resource and an `unavailable EC2 client` error will be returned

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/7e7d779/detectors/aws/aws.go#L42-L45

[code]

This is counter to the documented behaviour for resources which should be:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md

[2020-10-13 11:57] matej-g commented on #387
I think the release addresses the issue completely, this can be closed, I believe together with #295.

[2020-10-13 15:06] #295 closed

[2020-10-13 15:15] MrAlias commented on #398
Instead of

[code]

I would use the new `errors` package functionality:

[code]

Otherwise, this looks like a good fix. Thanks for opening it.

[2020-10-13 18:19] seh opened #399 "otelhttptrace.NewClientTrace does not nest spans properly with otelhttp.NewTransport"
We have at least two facilities in this repository for producing trace spans from HTTP requests:
- [`otelhttptrace.NewClientTrace`](https://pkg.go.dev/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace#NewClientTrace) (or the wrapper function [`W3C`](url))
  Interacts with `net/http/httptrace.WithClientTrace`.
- [`otelhttp.NewTransport`](https://pkg.go.dev/go.opentelemetr

[2020-10-13 18:56] MrAlias commented on #399
@seh do you have code that you can post that reproduces the above trace?

[2020-10-13 19:13] MrAlias commented on #357
Resolved by https://github.com/open-telemetry/opentelemetry-go/pull/1194 and subsequent updates here.

[2020-10-13 19:13] #357 closed

[2020-10-13 19:14] seh commented on #399
Yes, please see [the _example/client/client.go_ file](https://github.com/honeycombio/opentelemetry-exporter-go/blob/8837c0058a34af59cdf265855c6565118017be2d/example/client/client.go) as part of honeycombio/opentelemetry-exporter-go#95.

[2020-10-13 19:20] MrAlias commented on #214
This is likely done, an audit is needed to verify this.

[2020-10-13 19:22] MrAlias commented on #196
Resolved by https://github.com/open-telemetry/opentelemetry-go-contrib/pull/373

[2020-10-13 19:22] #196 closed

[2020-10-13 22:18] dackroyd commented on #398
To clarify, the code snippets I included are the _existing_ code for the aws and gce detectors: none of that was suggested fix. The `err.(metadata.NotDefinedError)` is the current code in the gce detector

[2020-10-13 22:22] dackroyd commented on #398
As for a suggested fix, this might be appropriate:

[code]

[2020-10-13 23:20] MrAlias commented on #398
Ah, my mistake @dackroyd!

Would you be willing to put together a PR with this?

[2020-10-14 00:31] SergeyKanzhelev commented on #386
@MrAlias sorry for the late reply, I was sick last week. Yes, @Syn3rman will be working on it. Please let us know if you have some preferences on the process and potential timelines this work can interfere with. I hope it's OK to work on this exporter in this repository and do it with the incremental updates. Maybe it can be excluded from the release while still in this repository. If not, we will

[2020-10-14 00:47] MrAlias commented on #386
Yeah, that all sounds good :+1: as long as we can follow the [existing pattern](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/master/exporters/metric/cortex/go.mod) where the exporters are their own Go modules we should be able to isolate this development well.

[2020-10-14 01:44] askingcat commented on #397
Indeed, Datadog does not seem to currently have an exporter, yet.

I found a [basic implementation](https://github.com/krak3n/opentelemetry-go-datadog) - missing a few things and being not updated for 6 months - which seems to be copied from/based on [the official OpenCensus exporter](https://github.com/DataDog/opencensus-go-exporter-datadog).

I might be able - if time allows - to contribute an e

[2020-10-14 01:51] dackroyd commented on #398
I'd be happy to push that change 👍

[2020-10-14 02:58] MrAlias commented on #398
Awesome, thanks for the help! :smile:

[2020-10-14 12:49] vmihailenco opened #402 "logrus integration"
As I understand logs will be available after v1.0, but do you already accept integrations for logging libraries like logrus? The code is available [here](https://gist.github.com/vmihailenco/27afef1ceccd6c2f442676a379621ced). The only questionable part is how to name attributes:
- `log.severity`
- `log.message`

[2020-10-14 16:22] MrAlias commented on #402
@vmihailenco thanks for opening this, it definitely looks useful and something we should try to include. I'm not sure the best way to make that happen and I would like to get some more opinions from the rest of the SIG at the weekly meeting on this. I'll add it to the agenda and be sure to update this issue with the discussion.

[2020-10-15 03:57] dackroyd opened #403 "Missing resource attributes from AWS detector"
The AWS resource detector adds several of attributes following the semantic conventions for cloud provider/host, however several other values are available that could also be added by the detector. Currently the implementation captures:

[code]

From the AWS EC2 instance metadata, we can additionally capture:

* `host.image.id` e.g. `ami-5fb8c835`
* `host.type` e.g. `t2.micro`
* `cloud.zone` e.g.

[2020-10-16 00:05] #398 closed

[2020-10-17 17:14] MrAlias commented on #402
From the SIG meeting the consensus was that this indeed does look like a useful thing to include in this repository. With the long term goal of OpenTelemetry to support logs as a first-class object complete with a telemetry processing pipeline this is likely not going to be the ultimate solution but instead a stop-gap. Because of this, the idea is to keep this and similar useful utilities that we

[2020-10-18 21:25] matej-g opened #408 "otelmemcache: Simplify and correct status code setting and attributes"
There are some issues currently with the `otelmemcache` instrumentation:

1) The instrumentation should not be setting `service.name` attribute - this was never required by the spec and is redundant.

2) Since the specification now recognizes only three statuses - `Unset` / `Error` / `Ok` - the method `memcacheErrToStatusCode` to create quasi-error mapping is no longer needed (see https://github.c

[2020-10-18 21:49] matej-g opened #409 "Agree on a naming convention for import declarations for OTEL packages"
Throughout the repository, there are generally two forms of `import` declarations for packages from the main `otel` repository (e.g. `trace`, `metric`, `global`)

- with `otel*` prefix + package name (example: `oteltrace "go.opentelemetry.io/otel/api/trace"`)
- or "plainly" without any name

This can be tiresome to work with at times (e.g. in case of comprehensive changes across whole repository)

[2020-10-19 07:56] matej-g commented on #214
I noticed some of the missing ones while working on a different issue, took the liberty of creating #412 for the remaining ones

[2020-10-19 13:21] vmihailenco commented on #402
@MrAlias thanks, sounds good to me.

[2020-10-21 03:51] dustyhorizon opened #417 "otelhttp instrument constantly producing errors"
I am currently using the otelhttp instrument following the example at https://github.com/open-telemetry/opentelemetry-go-contrib/blob/master/instrumentation/net/http/otelhttp/example/server/server.go

However, whenever a trace happens, a warning / non-fatal error keeps appearing in my logs

`rpc error: code = Internal desc = grpc: error unmarshalling request: proto: StringKeyValue: wiretype end gr

[2020-10-21 04:04] Aneurysm9 commented on #417
Can you construct a minimal reproduction?  Is that error at the collector or the exporter side?  It looks like it would be collector-side since no protobuf unmarshalling would be happening in the `otelhttp` instrumentation or even the SDK's `otlp` exporter.  If we're constructing and sending malformed OTLP a minimal reproduction, ideally without the `otelhttp` instrumentation, would help understan

[2020-10-21 04:11] dustyhorizon commented on #417
In my application I am also using the otelgrpc client interceptors as this application also acts as a gRPC client to my other internal services.

I flagged otelhttp because prior to its addition, no such warnings were found.

OTELHttp is implemented as a middleware in my application as such
`http.Handle("/graphql", otelhttp.NewHandler(graphqlHandler, "/graphql"))`

I am using the otel exporter fol

[2020-10-21 20:31] matej-g commented on #380
I tried to collect all currently missing entries

Instrumentation:
- [x] instrumentation/github.com/astaxie/beego/otelbeego
- [x] instrumentation/github.com/bradfitz/gomemcache/memcache/otelmemcache
- [x] instrumentation/github.com/emicklei/go-restful/otelrestful
- [x] instrumentation/github.com/gin-gonic/gin/otelgin
- [x] instrumentation/github.com/gocql/gocql/otelgocql
- [x] instrumentation/gith

[2020-10-22 14:22] seanschade commented on #5
This solution would meet my needs. Could @j2gg0s solution be the MVP, and would it move into the contrib repo?

[2020-10-27 01:27] MrAlias commented on #380
This sounds like a good initial solution to me :+1:

Agreed, that sounds a bit ambitious. I think the manual make option sounds good. As a maintainer that will be tasked with this I don't have a problem. @Aneurysm9 how would you feel about this?

[2020-10-27 16:14] evantorrie commented on #380
Manual update is a fine first step in my opinion.

I have seen automatic PRs created in the past, but I don't think this comes high up on the priority list for now.

[2020-10-27 20:49] brian-groux-hs commented on #194
Would be great to ensure the new instrumentation also covers off any metrics that are currently available here: https://github.com/grpc-ecosystem/go-grpc-prometheus

[2020-10-28 00:08] MrAlias opened #425 "Host instrumentation for available memory on Linux systems is less accurate than is tested for"
Frequently the TestHostMemory test in the host instrumentation fails because the relative error is too high. E.g.

[code]

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/a0dc004c4bea08d463e7ee9f9e9e8e26511defc7/instrumentation/host/host_test.go#L180

Or,

[code]

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/a0dc004c4bea08d463e7ee9f9e9e8e26511defc7/instrumentatio

[2020-10-28 20:50] matej-g commented on #425
I've been noticing the same error on my local environment and I came to the same conclusion regarding `Total` vs `Available` vs `Used` memory. I think the interim change to the test makes sense. Some further thoughts:

As a user, I would not be entirely sure what to expect in this case. I guess `Used` and `Available` memory are usually understood the way they are interpreted by the library that th

[2020-10-28 20:57] matej-g commented on #214
With #412 merged all instrumentation modules should include version now and this issue has been fully resolved.

[2020-10-29 16:39] matej-g commented on #380
OK, if there is an agreement I can try my hand at making this.

[2020-10-29 16:48] MrAlias commented on #397
@HowJMay thanks for opening this issue, I imagine others want to know the answer to this as well. Unfortunately, this project is not intended host vendor exporters. There are some special circumstances, but a DataDaog trace exporter will need to be hosted some place other than this repository.

[2020-10-29 16:48] #397 closed

[2020-10-29 16:50] MrAlias commented on #409
This might be alleviated with upcoming releases that will unify these concepts.

[2020-10-29 18:31] #214 closed

[2020-10-30 15:42] #403 closed

[2020-10-30 22:52] dackroyd opened #429 "Dependency size for resource detection"
Running on AWS (and other for detectors like GCP) requires that the relevant dependency is pulled in, even if the application doesn't use the library for any other purpose than detecting the host details. These libraries can be very heavy: the AWS SDK for Go is over 130 MB. While the compiled size would be far smaller based on the limited usage, the library still needs to be fetched if not cached.

[2020-11-01 22:37] sagikazarmark opened #432 "What integrations should be contributed here?"
I'm working on OpenTelemetry for [Go Kit](gokit.io/) and I'm not entirely sure where I should contribute it:

- Should I try to submit it to the Go Kit project
- Should I submit it here first (and probably later to Go Kit)

Both of those make sense to me, so I wonder what you consider to be the best practice.

If there is one (or will be one), adding it to the contributing guide could help people

[2020-11-02 01:32] dackroyd commented on #5
Are alternative designs being considered? `ocsql`, `otelsql` (which is based on that), and `instrumentedsql` (OpenTracing option, e.g. https://github.com/luna-duclos/instrumentedsql) are all _very verbose_ in the number of spans that are created (as @derekperkins pointed out), most of which are of low value by themselves (e.g. 'rows next'). While it is possible to disable creation of spans for spe

[2020-11-02 17:17] MrAlias opened #433 "Create instrumentation request documentation and Issue template"
We expect in the post-RC phase to have a large number of these requests. We need to be sure to document this process.

What is needed...

* Documentation of when instrumentation belongs here. Should be OSS and should be a plug-able format (if it is native instrumentation it belongs in the library itself).
* How to make a suggestion. We should have an issue template for this.
* Document how to "vot

[2020-11-02 17:19] MrAlias commented on #83
This instrumentation was added to the go-redis library directly.

[2020-11-02 17:19] #83 closed

[2020-11-02 17:23] MrAlias commented on #432
Thanks for jumping in and working on this. If the instrumentation you plan to write is going to be able to be plugged into the framework I think it is a decent idea to start here. Including it in the instrumented library will add an extra burden on that project at this point given the early phase OpenTelemetry is in, but it would make sense to include it there if the instrumentation will not be wr

[2020-11-02 17:41] sagikazarmark commented on #432
Thanks @MrAlias

I'll open an issue before submitting a PR. It's definitely going to be pluggable.

One potential issue I can see with implementing integrations in this repo though is that tracking framework compatibility, issues, version compatibility, etc this far away from the original projects could potentially cause all kinds of issues and delay the solution for them. For example, if the fram

[2020-11-02 17:47] sagikazarmark opened #434 "Add instrumentation for github.com/go-kit/kit"
Opening an issue for Go kit based on the discussion in #432
I intend to work on this one and submit a PR.

https://github.com/go-kit/kit

## Tasks

* [ ]  code complete with tests passing
* [ ]  `Dockerfile` with example app showing instrumentation (alternatively link to https://github.com/sagikazarmark/modern-go-application which serves as an example app for Go kit, showcasing OpenTelemetry as we

[2020-11-02 18:09] MrAlias commented on #432
This is a valid concern for sure and something most instrumentation struggles with. I think you have the correct vision of where this should ultimately go.

Going to close this in favor of tracking the work in #434. Please reopen if you need to address other meta-concerns.

[2020-11-02 18:09] #432 closed

[2020-11-03 17:22] pkwarren opened #435 "Possible race condition in Sarama async producer"
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/e7ba12942d4546d66b5853af7310c321888ff8de/instrumentation/github.com/Shopify/sarama/otelsarama/producer.go#L200-L203

This looks like a possible race condition during shutdown (we are returning from a goroutine as soon as the successes or errors channels are closed, potentially not reading any remaining messages in the other channel).

[2020-11-05 17:46] MrAlias commented on #313
Duplicated by #425

[2020-11-05 17:46] #313 closed

[2020-11-05 17:50] MrAlias commented on #417
This is likely related to the backwards incompatibilities of the v0.5.0 release of the OTLP used by the OTLP exporter. We have merged changes in the opentelemetry-go project to upgrade but have not released them yet.

[2020-11-05 17:56] MrAlias commented on #429
Thanks for opening the issue. We would like to provide a lightweight codebase but we cannot allocate our limited development resources to tracking a vendors API and duplicating portions of their SDK in this project. I cannot speak for the OTel agent, but that sounds like a reasonable solution if you would like to propose it in that project.

[2020-11-05 17:56] #429 closed

[2020-11-05 19:11] anuragbeniwal opened #436 "otelgrpc: bidi stream incremental span processor flush"
For gRPC instrumentation otelgrpc implementation adds 1 span per stream with span events tracking individual send/receive messages.
For long running bidirectional streams this has the potential of the span building up in memory and getting massive.

1. Are there any benchmarks and guidelines for such scenarios?

1. Is/would there some "incremental" span processor mechanism which could get invoked

[2020-11-05 20:12] dackroyd commented on #429
Thanks @MrAlias, I understand. I'll look into support at the agent level 👍

[2020-11-05 23:59] MrAlias commented on #5
From the SIG meeting today:

Also,

[2020-11-07 22:28] matej-g opened #439 "otelgrpc: Add status code attribute in accordance with the spec"
Although span status is [no longer aligned](https://github.com/open-telemetry/opentelemetry-specification/pull/966) with gRPC codes, according to the [recent spec update](https://github.com/open-telemetry/opentelemetry-specification/pull/1156), gRPC code should be reflected in the attributes.

Relevant part of the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/spec

[2020-11-09 12:35] matej-g commented on #380
@MrAlias @evantorrie I created a proposal draft PR here - https://github.com/open-telemetry/opentelemetry-go-contrib/pull/446 - explaining how the check should work in more details, your input will be welcome.

[2020-11-13 16:49] MrAlias commented on #425
This is all a good point. With the fix to the test in place I'm okay closing this if we want to preserve the current value measured. @jmacd what are your thoughts on this?

[2020-11-13 17:20] matej-g commented on #439
@MrAlias feel free to assign this to me as well

[2020-11-17 15:12] sagikazarmark opened #454 "When should an instrumentation library set a service name attribute?"
Looking at the current tracing implementations: some of them accept a service name and set that name in the trace, in addition to an operation name (use as the span name).

Is there a convention for accepting a service name? If there is, it's not immediately obvious, because I can see a service name appearing in both server (eg. http) and client (eg. memcached) components as well.

I would assume

[2020-11-18 14:03] matej-g commented on #454
Could you elaborate on the question? Is this regarding adding service / operation name as a span attribute? Or am I misunderstanding.

[2020-11-18 15:29] sagikazarmark commented on #454
@matej-g thanks for your response.

[otelmux](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/1010e02a1c7f0a045157fd167352b258b34cb800/instrumentation/github.com/gorilla/mux/otelmux/mux.go#L40) accepts a service name in its constructor and automatically guesses the operation from the route.

Internally, it calls `semconv.HTTPServerAttributesFromHTTPRequest` that sets the service na

[2020-11-18 16:58] matej-g commented on #454
Got it now. In general, best resource to consult on attributes requirements is the specification, in particular the sections on semantic conventions; in our case it's https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions.

Looking at the `otelmux`, it accepts string parameter `service` in `Middleware` method. However, according to the [d

[2020-11-18 17:01] sagikazarmark commented on #454
Thanks! That's kind of what I figured, but `otelmemcache` was a bit confusing.

[2020-11-18 17:04] matej-g commented on #454
Yes, I think it should not be setting that attribute, seems redundant (shamefully admitting, I authored that module). Thanks for bringing this up!

[2020-11-18 19:43] Aneurysm9 commented on #454
I think this is correct and those modules should not be setting that attribute.  `service.name` is a [resource attribute](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/README.md#service) that should be set by the application utilizing the instrumentation and not by an instrumentation itself.

[2020-11-19 16:57] matej-g commented on #408
Stemming from the discussion in https://github.com/open-telemetry/opentelemetry-go-contrib/issues/454#issuecomment-729911547, I updated the issue description, to take care of both things in one go. @MrAlias I guess you can assign it to me as well.

[2020-11-19 17:55] matej-g opened #460 "otelmongo: Various attributes improvements"
Noticed that that there are couple of attributes-related areas in `otelmongo` that could be improved:
- Reconsider usage of `service.name` attribute - according to the specification this is a [resource attribute](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/resource/semantic_conventions#service), not a trace attribute (see https://github.com/open-telemetr

[2020-11-19 20:04] #439 closed

[2020-11-20 16:50] matej-g commented on #380
Putting here note to myself: to also actually updated the links in registry via PR, so that the check is actually not failing from the beginning.

[2020-11-20 17:00] #31 closed

[2020-11-20 17:00] #385 closed

[2020-11-21 18:11] dustyhorizon commented on #417
closing this the error is not popping up after upgrading to v0.14.0

[2020-11-21 18:11] #417 closed

[2020-12-02 07:28] wilguo opened #474 "Mux Instrumentation should not set span status to OK"
Based on the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/82865fae64e7b30ee59906d7c4d25a48fe446563/specification/trace/api.md#set-status) the `statuscode` should be unset by default. [Here](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/master/instrumentation/github.com/gorilla/mux/otelmux/mux.go#L149) the status code is always being set, even for suc

[2020-12-02 16:17] chainlink commented on #5
Any update on the SIG discussion?

[2020-12-03 20:09] matej-g commented on #474
Are you able to pin-point where this is happening exactly? Looking at [`SpanStatusFromHTTPStatusCode`](https://github.com/open-telemetry/opentelemetry-go/blob/master/semconv/http.go#L266), it seems it will return either `codes.Error` or `codes.Unset`. So even though there is explicit call to `SetStatus` below, it should still leave the span status to be `codes.Unset` in case of success.

[2020-12-03 23:55] wilguo opened #478 "Feature Request: Use Kubernetes Client for EKS Resource Detector"
**Is your feature request related to a problem? Please describe.**
No, this feature request is not related to a problem or issue. It is an enhancement for the EKS resource detector in order to prevent duplicate code upstream.

**Describe the solution you'd like**
The EKS resource detector should use the Kubernetes client library for getting the cluster name.

**Additional context**
The original PR

[2020-12-04 21:18] wilguo commented on #474
@ anuraaga

[2020-12-11 05:09] MrAlias opened #485 "Release v0.15.0"
Upgrade to use https://github.com/open-telemetry/opentelemetry-go/releases/tag/v0.15.0

Blocked on https://github.com/open-telemetry/opentelemetry-go-contrib/pull/459

[2020-12-14 18:42] MrAlias commented on #485
Closed by #486

[2020-12-14 18:42] #485 closed

[2020-12-17 02:45] rot1024 commented on #126
https://github.com/99designs/gqlgen-contrib/tree/master/gqlopencensus is available, so I think this issue is no longer needed.

[2020-12-17 02:45] #126 closed

[2020-12-23 06:33] XSAM commented on #5
I'd like to work on this by implementing an MVP (probably not include metrics first)

[2020-12-23 09:41] wilguo commented on #474
Hi @matej-g, I think after more investigation, I found out the issue I was facing was caused by something else. Sorry!

[2020-12-23 09:41] #474 closed

[2020-12-24 17:22] glazychev-art opened #501 "otelgrpc: error handling in StreamClientInterceptor"
Hello,
Seems, there is a problem in grpc interceptor
The goroutine is creating inside `wrapClientStream` and it is waiting for events (ex. from `RecvMsg`)

What if we get an error here?
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/master/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go#L279-L280
In this case there will be goleak.

May be better if we handle this er

[2020-12-25 07:57] dstdfx commented on #84
@MrAlias would be glad to start working on this one

[2020-12-25 08:50] glazychev-art opened #502 "otelgrpc: goroutine leak if Recv is not called"
Hello,
This problem is related to StreamClientInterceptor.
The goroutine is creating inside `wrapClientStream` and it is waiting for events (ex. from `RecvMsg`)
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/master/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go#L279-L280

What if we create `clientStream` and _**never**_ call `stream.Recv()`? Seems there will be a g

[2020-12-29 18:51] #433 closed

[2021-01-07 08:47] stanleynguyen opened #515 "Ability to remove/override default SpanOptions"
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/26c2b1846c5527cd383731c4c33171a18354061f/instrumentation/net/http/otelhttp/handler.go#L124-L128

We're using the basicauth's username field for authentication purpose (API key) and don't want it to be plainly exposed in our traces.

[2021-01-07 09:32] kanekv commented on #436
@MrAlias I have same question, I guess the way it works is interceptor starts long running span for the whole stream and then implementations can add child spans/events to root span. Is it send to server on time without waiting for the root span to finish or root span has to end before whole batch can be sent?

[2021-01-07 17:30] MrAlias commented on #501
Related to https://github.com/open-telemetry/opentelemetry-go-contrib/issues/502

[2021-01-07 22:56] #300 closed

[2021-01-18 04:09] marcellodesales commented on #84
@dstdfx is your WIP working? I don't see any instructions, documentation, etc on this... I'd love to contribute if that's possible... We are in need of such integration... Thank you!

[2021-01-18 06:24] dstdfx commented on #84
It's just a stub in PR but I'm planning to fill this up on the week

[2021-01-19 15:21] schmurfy opened #556 "protobuf crash on span End"
We are currently testing otel (with uptace-go) on our microservices and ran into a segfault which occurs everytime a service is called, we are still investigating the exact conditions but in any case it should not result in a segfault.

Here is what we get:
[code]

and right after that:
[code]

The project is running uptrace-go version 0.6.1 and otel 0.15.
My original issue is here: https://github

[2021-01-19 23:48] jemisonf commented on #556
I'm seeing an issue with the `proto.Size` call as well working on [ArgoCD](https://github.com/argoproj/argo-cd), where the method panics if it sees an optional field that isn't a pointer. I think the issue is basically the same though, which is that the size method seems to panic a lot and any issues there will cause the entire request to fail. I'm pretty sure the fix from the [uptrace fork from t

[2021-01-20 08:09] schmurfy commented on #556
after some digging we found out what was causing the issue but I am not really sure why or how:

The implementation of the grpc method was supposed to return an object but all it did was:
[code]

When returning a proper object it fixes the issue, I don't know how grpc is supposed to handle nil value if permitted at all but this was the trigger in our usecase.

[2021-01-23 18:45] marcellodesales commented on #84
@dstdfx I will be up on the weekend in case there's anything I can help to test

[2021-01-26 09:14] deefdragon opened #561 "Unable to get tracer back in otelecho"
When creating a tracer via otelecho, it is impossible to get the tracer back from otelecho.Middleware without using a hard coded string to get the value from the context every call, or without using a different hard coded string to generate a new trace provider. Neither of these strings are exposed outside otelecho.

[2021-01-27 09:19] skonto commented on #316
@jmacd is there are pointer for what the Metrics SIG has considered as useful for direct monitoring? I am planning to use the runtime plugin in [`knative/pkg](https://github.com/knative/pkg)` but it seems to me that some metrics are not exposed like `NextGC` and I am wondering if we should have like a full mode in case a user wants the raw dump as it comes from runtime.memstats.

[2021-01-27 19:36] jumpyBiggins opened #563 "[Question] Use UnaryServerInterceptor with otel.tracer"
I was an older version of otel(v0.11) and I was using the tracer in a UnaryServerInterceptor.
after the update to v0.16.0

the below code does not work because tracer does not implement the `Apply` method
[code]

what is the workaround for this?

thanks.

[2021-01-28 22:50] MrAlias commented on #561
Thanks for the question. Based on how you describe the situation, this is the intent of how named tracers are intended to be (or really not be) used. The instrumentation library should be the only one using that `Tracer` to create spans. If additional spans are meant to be created, the code creating that span should use a `Tracer` named after that code itself.

Hopefully this helps.

[2021-01-28 22:50] #561 closed

[2021-01-28 22:56] MrAlias commented on #563
The `UnaryServerInterceptor` is created by passing `otelgrpc.Options` to the function:

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/90490eca4f9dd4e1f5a47d69b010a1f958c8b43f/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go#L302-L304

An `otel.Tracer` is no longer passed to the tracer as the instrumentation manages its' own `Tracer` as the OTel project is designed t

[2021-01-28 22:56] #563 closed

[2021-02-03 22:25] jemisonf commented on #556
Hi @MrAlias, I'm curious if there's a plan on your end for how to implement a fix for this? I'm trying to decide if I should find a workaround on the client-side or wait for an update here. I'm not sure I can get to it super fast but if the issue is no one being able to work on the fix I can potentially help.

[2021-02-09 09:55] XSAM commented on #460
We should also improve the span name of `otelmongo`. It only uses `mongodb.query`, which is not fit with the specification.

[2021-02-10 18:33] wangzlei commented on #81
Hi,

AWS released new aws go sdk recent days, I am working on new [aws-sdk-go-v2](https://aws.github.io/aws-sdk-go-v2/) instrumentation but not v1. For v1 we can migrate aws-xray-sdk code to OTel, please see [xray aws-sdk-go instrumentation](https://github.com/aws/aws-xray-sdk-go/blob/master/xray/aws.go).

The sdk v2 instrumentation solution would be through [middleware](https://aws.github.io/aws-

[2021-02-16 05:50] XSAM commented on #556
The [original issue](https://github.com/uptrace/uptrace-go/issues/63#issuecomment-774924408) seems been solved. Feel free to reopen if you have further questions.

[2021-02-16 05:50] #556 closed

[2021-02-16 07:29] XSAM commented on #502
`clientStream` considers `grpc.ClientStream.CloseSend()` as a kind of events. So after `grpc.ClientStream.CloseSend()` is called, the goroutine that is waiting for events will correctly exit.

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/e532370ba236af1b301852a9adc1fc370114e007/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go#L186-L196

It seems no goroutine will l

[2021-02-16 14:53] glazychev-art commented on #502
Yes, but if we look at this:
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/e532370ba236af1b301852a9adc1fc370114e007/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go#L214-L229
we can see that return will happen if we get `errorEvent` OR (`closeEvent` AND `receiveEndEvent`).
You are right, we can get `CloseEvent` from `CloseSend()`, but `ReceiveEndEvent` will never ha

[2021-02-17 09:44] XSAM commented on #502
@glazychev-art  You're right that goroutine will leak if we don't call `RecvMsg`. But it is not a complete gRPC call if we don't call `RecvMsg`.

Also, `CloseSend` only means closing the send direction of the stream, not the entire stream, which means the stream is still on, and we can't end the span at this time.

[2021-02-17 18:51] sagikazarmark commented on #434
@MrAlias the PR is ready and has been approved by some folks. I've been rebasing it for weeks (or months?) to always use the latest version and I'd love to leave that to the automation. 🙂

Do you know who can hit that merge button on the PR? Maybe you? 🙂

[2021-02-18 07:27] denis-tingaikin commented on #502
@XSAM Is it possible to listen to stream ctx Done and close all resources? I guess it solves the problem with

[2021-02-18 17:03] #501 closed

[2021-02-18 20:09] #408 closed

[2021-02-19 07:28] XSAM commented on #502
@denis-tingaikin It might not be a solution here since the context can't be called before `RecvMsg`

https://github.com/grpc/grpc-go/blob/577eb696279ea85069a02c9a4c2defafdab858c5/stream.go#L93-L97

[2021-02-25 11:16] denis-tingaikin commented on #502
This issue still actual.

Moreover, it is not reproducible if we are using jaeger directly.

[2021-02-25 12:02] XSAM commented on #502
@denis-tingaikin I can't reproduce this bug.

What version of the `otelgrpc` you are using? Also, what's the scenario that users might not call `RecvMsg`.

[2021-02-28 12:47] ebati opened #597 "felixge/httpsnoop usage issue"
I noticed felixge/httpsnoop usage in [here](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/f011c951891df554fe8b8db1e2b691d108f94eb4/instrumentation/github.com/gorilla/mux/otelmux/mux.go#L88) does not hook `ReadFrom` function. The bytes written using `ReadFrom` should also be reflected in `written`.

There is also a [`CaptureMetricsFn`](https://github.com/felixge/httpsnoop/blob/80c

[2021-03-05 17:14] #434 closed

[2021-03-08 20:41] austinlparker opened #609 "go-gin instrumentation will not output spans"
OTel Version: v0.18
Gin Version: 1.6.3

👋 I'm encountering a strange bug with the export pipeline and go-gin. Perhaps I'm holding it wrong, but I'm not able to have any spans exported either via OTLP GRPC or even the console exporter (see https://github.com/austinlparker/otel-rc-examples/blob/main/go/01/main.go for a repro).

I do see spans appropriately being created in-memory, but they just neve

[2021-03-09 02:54] charleskorn opened #610 "Units and descriptions for otelhttp metrics"
The `net/http/otelhttp` handler automatically emits metrics for request size, response size and server latency. However, these do not include units or descriptions. Would it be possible for these to be added?

[2021-03-09 03:03] charleskorn opened #611 "otelhttp.WithRouteTag does not set route tag for metrics"
I expected `otelhttp.WithRouteTag()` to set the route tag for both traces and metrics, but it appears to only set the route tag for traces.

Happy to submit a PR to add this to `WithRouteTag()` using the functionality added in #306 if this would be reasonable default behaviour.

[2021-03-09 17:56] MrAlias commented on #609
It looks like you are shutting your tracer provider down right after you initialize:

https://github.com/austinlparker/otel-rc-examples/blob/e6e62abf1bf394719c5529286fd97e5b2774a98a/go/01/main.go#L55-L61

I'm guessing this works with the simple span processor because we were not propagating the shutdown command to the exporter for that span processor (which has been fixed on `main`).

[2021-03-09 18:04] austinlparker commented on #609
Yeah I was curious about that so I tried removing the defer, it still doesn't output batched spans.

[2021-03-09 18:14] austinlparker commented on #609
:facepalm: I was still having problems with it but it turned out to be a local issue. My bad.

[2021-03-09 18:14] #609 closed

[2021-03-12 19:26] MrAlias opened #613 "Default to SingleHeader format when unspecified B3 encoding"
[The specification states](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/context/api-propagators.md#b3-inject):

Currently we default to multi-header format when unspecified:

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/839e505a67ca9fb5a3089cd1af5943061fcaf1ef/propagators/b3/b3_propagator.go#L126

This needs to be changed to default to

[2021-03-16 13:41] brugnara opened #622 "SpanName is overwritten to <ip>:<port> if HTTPServerAttributesFromHTTPRequest is used"
Hi everyone!

I noticed that Gin instrumentation works, but the name is not the path, but always 127.0.0.1:8000 and this happens because of this line:

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/7a8e6f588651f5bbe78dd809be4d40f79627d60c/instrumentation/github.com/gin-gonic/gin/otelgin/gintrace.go#L68

See how it is *with* the line:

![image](https://user-images.githubuserconten

[2021-03-16 18:42] matej-g opened #623 "Examples build with golang:alpine'"

[2021-03-16 19:22] matej-g commented on #622
Hi! Would you be able to provide a code snippet of how you're using the instrumentation or some more context? Where are you exporting it?

Indeed, nothing in `semconv.HTTPServerAttributesFromHTTPRequest` _should_ be affecting the span name and I was not able to observe this either in the tests or in the [example](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/instrumentation/

[2021-03-16 19:35] matej-g commented on #623
Or maybe rather this might give the right context:
https://blog.golang.org/go116-module-changes
[code]

It seems like building with Go < 1.16 resolves the issue 'automatically' and fixes `go.mod`:
[code]

Whereas with Go 1.16 we are getting an error by default.

[2021-03-16 19:54] MrAlias commented on #623
Thanks catching and documenting this!

This sounds like the appropriate resolution. That way we ensure other users that use Go 1.16 will not encounter this error as well. This also motivates me to add 1.16 to the versions we validate in our CI system.

[2021-03-16 21:34] brugnara commented on #622
I updated to 0.18 and the problem is now different.

In my opinion the output is generated in a way that works for OpenTelemetry but problems arise when an agent needs to send to x-ray, for example, the example you linked, outputs:

[code]

which is correct, but below in the same JSON:

[code]

This service.name is what x-ray uses for naming, and with the version 0.18, this happens because `oteltr

[2021-03-16 21:34] #622 closed

[2021-03-18 16:46] MrAlias commented on #613
Resolved in #614

[2021-03-18 16:46] #613 closed

[2021-03-24 04:27] nabokihms opened #711 "Add status code to net/http metrics"
Hello! I have a minor request for improvement for one of the instrumentation packages.

My use-case:
There is a service, and I want to know the percentage of failed requests on it. Previously there was the combination of httpsnoop and Prometheus client_go to capture status code and add it to metrics as a label.

The net/http handler wrapper already extracts status code from the response writer but

[2021-03-26 07:57] ravilushqa opened #712 "otelmongo: ability to hide Command attribute"
Command attribute may contain sensitive data. would be great if it will be configurable.

[2021-03-27 15:25] rizalgowandy opened #714 "Add Instrumentation for gofiber/fiber"
## Background

**Package Link**: https://github.com/gofiber/fiber

Another go router, like echo and mux.

## Proposed Solution

Middleware

### Tracing

- attributes:
  - semconv.NetAttributesFromHTTPRequest
  - semconv.EndUserAttributesFromHTTPRequest
  - semconv.HTTPServerAttributesFromHTTPRequest
  - semconv.HTTPAttributesFromHTTPStatusCode
  - semconv.SpanStatusFromHTTPStatusCode
- events:
  -

[2021-03-29 11:46] davidgwcurve commented on #712
I have opened a MR for this option as we need this too for our applications :)

[2021-03-30 16:02] imle opened #725 "Possible bug in otlpgrpc exporter"
In the `example/otel-collector`, I think I have come across a strange bug that only occurs with a ver specific set of `Option` specified.

I figured this out while debugging the issue with that example, which is that the k8s resource's ports don't line up (wrong port in config compared to README and to Deployment).

When specifying the `WithInsecure`, `WithEndpoint`, and `WithDialOption(WithBlock)

[2021-03-30 16:35] gtourkas commented on #85
@MrAlias may I pick this up ?

[2021-03-31 12:34] YuriiBarninets opened #726 "Spans created by HTTP instrumentation package does not conform to guidelines for span names"
According to [the OpenTelemetry specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.1.0/specification/trace/semantic_conventions/http.md#name) HTTP spans MUST follow the overall [guidelines for span names](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.1.0/specification/trace/api.md#span).

For example, the current implementation of HTTP inst

[2021-04-04 12:30] rizalgowandy commented on #714
Since gofiber/fiber use valyala/fasthttp instead of net/http.
We shouldn't support it. I'll never use gofiber/fiber any more.
Hopefully the library will die out on its own, since it doesn't use the standardized way.

[2021-04-04 12:30] #714 closed

[2021-04-07 12:11] Mistic92 commented on #84
Hi, any update?:)

[2021-04-08 15:37] #712 closed

[2021-04-08 20:42] jcchavezs opened #732 "Adds support for B3 single and multi"
## Background

B3 has support for two encoding of the trace context: B3 single and multiple however it can happen that for easy migration of propagation or just because of support (e.g. async where b3 single is defacto to sync where b3 multi is very common) we can have both headers. Some examples are https://github.com/openzipkin/zipkin-go/blob/815bc64e1a6031d5a51c88b07092d34c20aaeb61/propagation/

[2021-04-08 22:14] Aneurysm9 commented on #732
Can this be achieved with a composite propagator composing two B3 propagators, one for each of the single- and multi-header encodings?  If it's a transitional usage and we're already able to account for it with existing implementations I'm not sure adding more moving parts is the right approach.

[2021-04-08 22:28] jcchavezs commented on #732
I think that is a bit overkill, this is a problem specifically for the duality of B3 so I think it deserves a custom approach.

[2021-04-09 03:20] Aneurysm9 commented on #732
Been a while since I read the B3 propagator code, but it looks like using a composite propagator isn't even necessary.  The `Encoding` constants are [defined as bitmask values](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/propagators/b3/b3_propagator.go#L74) and the propagator will inject using [any](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/propa

[2021-04-09 13:14] albertteoh opened #733 "B3 context propagator missing parentspanid inject"
## Background

I want to instrument (tracing) my [istio](https://istio.io/latest/docs/tasks/observability/distributed-tracing/jaeger/) services with otel-go.

The requirement to achieve this is to simply copy the inbound **B3** HTTP request headers to the outbound HTTP request headers and Istio will take care of the rest; i.e. propagate B3 trace context, as described here: https://istio.io/latest/

[2021-04-09 14:56] MrAlias commented on #732
Correct, this is already supported.

[2021-04-09 14:56] #732 closed

[2021-04-09 15:01] MrAlias commented on #733
The OpenTelemetry [`SpanContext`](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.1.0/specification/trace/api.md#spancontext) does not have a way to store parent span information. This will need to be addressed at the specification level before we can resolve this.

[2021-04-09 15:07] Aneurysm9 commented on #733
The `B3` propagator intentionally does not inject the `x-b3-parentspanid` field as [the specification forbids it](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#b3-inject).

In your test setup, have you configured an exporter from the application that is using the `B3` propagator?  It looks like what might be happening is that you a

[2021-04-11 07:27] yorikya opened #744 "DataDox exporter doesn't export `ValueRecorder` metrics"
It seems that the DataDog exporter doesn't export `ValueRecorder` metrics

Topology:
service: (OTEL-SDK) --> host: (OTEL Agent) --> storage:(Datadog)

We are using the opentelelmtry-sdk to send the metrics from our services to the host `otelcontrib` agent, then the otel-agent using `Datadog` exporter to send the metrics to the DataDog, when we are using some of the types of `ValueRecorder` the met

[2021-04-14 11:22] mx-psi commented on #744
@yorikya  👋 , you will be hearing from us through Datadog support. I haven't been able to reproduce your issue so I believe it might be related to using an outdated version of the Go SDK (OTLP metrics are not stable yet and have changed between versions).

Since this issue is about the OpenTelemetry Collector (Agent) Datadog exporter, we should move it to the opentelemetry-collector-contrib repo.

[2021-04-14 18:31] pellared opened #746 "Extending functional options"
## Why

It would be good to provide guidance on how to extend on top of functional options API.

## What

Make vendor-specific (which may be not OTel compliant) extensibility "easy" and user-friendly.

The whole idea behind https://github.com/signalfx/splunk-otel-go is to create convenient and easy to use helpers that are working on top of OTel libraries. For example:

1. `splunkhttp.NewHandler` m

[2021-04-14 18:36] pellared commented on #746
## Approach 1 - `WithNop` dummy option

Add `WithNop` functional option to make it easier to do a composition.

Example: https://github.com/signalfx/splunk-otel-go/pull/37

**Pros:**
- It is not a breaking change - it does not touch any existing exported API.

**Cons**:
- Hacky
- Adding a dummy option to add extensibility feels wrong
- The extensibility code is noisy and not strightforward

[2021-04-14 18:51] pellared commented on #746
## Approach 2 - `Config`

Export `Config` and unexport all its fields.
- Changes in OTel SDK: https://github.com/signalfx/splunk-otel-go/pull/39/files#r613507010 + all usages
- Changes in vendor repo: https://github.com/signalfx/splunk-otel-go/pull/39/files#diff-0ef2bba381e8157f09baa7100a4ea93855e194f5fd9b00bb73db2c9611a2c861
- Full PR for deeper analysis:  https://github.com/signalfx/splunk-otel-

[2021-04-14 19:00] pellared commented on #746
## Approach 3 - `interface`

Change `Apply` in `Option` interface to accept `interface{}` instead of `*config`.
- Changes in OTel SDK:
- Changes in vendor repo:
- Full PR for deeper analysis:

**Pros:**
- It changes the existing API in a not breaking way
- The `Option` interface definition cleaner
- The vendor's `config.go` code is similar ("orthogonal") to its OTel SDKs counterpart
- The vendor's

[2021-04-14 19:02] pellared commented on #746
I am extremely biased and subjective. I favour **Approach 3** after all my experiments. Feel free to point out other pros/cons and also feel free to argue if anything I described is not true.

[2021-04-15 05:55] pellared commented on #746
## Approach 4  - type embedding + type assertion

Use type embedding and type assertion in vendor-specific repo.
- Changes in OTel SDK: **NONE**
- Changes in vendor repo: https://github.com/signalfx/splunk-otel-go/pull/40/files#diff-0ef2bba381e8157f09baa7100a4ea93855e194f5fd9b00bb73db2c9611a2c861
- Full PR for deeper analysis: https://github.com/signalfx/splunk-otel-go/pull/40

It does not require

[2021-04-15 06:05] pellared commented on #746
Personally, I would go for **approach 4**.

However maybe after looking at this analysis we would still like to make some changes in the current OTel functional options design.

[2021-04-15 11:45] tgulacsi commented on #746
otelhttp.Option is a function that applies to an inner structure with inner options - a black box.
I'd vote to option 4, as that's what respects this mostly.

Here you embed otelhttp's functionality, so you should embed their options, too - even better, hide them!
You don't want to allow ANY unknown option, as you don't know what to do with them.
Or if you want, then accept a preconfigured (otel)h

[2021-04-15 12:10] pellared commented on #746
@tgulacsi First off all thanks for your comment 👍

No sure if you are talking about Splunk or OTel package. However take notice that it is not possible to "not allow" external options (there is one possibility but it would result in very unfriendly API - unexport the Option interface). We can only make sure that external options are not processed. All described approaches achieve it (for OTel at l

[2021-04-15 12:59] tgulacsi commented on #746
otelhttp exposes several Option, but as a black box. Only those are usable os configuration-altering options.
At this level, exporting Option may be an error, but may help the documentation.

splunkhttp SHOULD NOT expose otelhttp options, MUST hide them behind a wrapper.

For me it's weird to allow any otelhttp option through splunkhttp. Esp. as they're in a  constant flux...
It's more flexible to

[2021-04-15 13:46] MadVikingGod commented on #746
So a bit of logistics before we get into any technical discussion. It seems like you have done a lot of work to explore these options, but you need a bit more to make it presentable to this audience.  What would go a long way to achieve this is:
1. An example of how you want to "Extend" the config.  Not just how you are using it, but what feature would make most sense in your copy of the config an

[2021-04-15 13:46] pellared commented on #746
@tgulacsi Thanks for clarification

Returning an unexported type is highly discouraged. You cannot make a field, function, array variable (the last is critical for functional options) it the type is unexported. This is also why I have written "it would result in very unfriendly API". More: https://github.com/golang/lint/issues/210

Thanks 👍  PRs fixed

Good remark. It is designed that way so that:

[2021-04-15 14:16] pellared commented on #746
@MadVikingGod I highly appreciate your comment.

Great guidance 👍  In progress...

Thanks. Currently, I only think that **approach 3** could make it extensibility easier, while still keeping the options as black boxes.

Not sure if I follow. But I believe it would be better to create a separate issue 😉

[2021-04-15 14:58] pellared commented on #746
@MadVikingGod I highly appreciate your comment.

Great guidance 👍 Done. Please review and feel free to tell me if I can make it more approachable (without making too much noise).

Currently, I only think that **approach 3** could make the extensibility easier. While still keeping the options as black boxes.

Not sure if I follow. But I believe it would be better to create a separate issue 😉

[2021-04-15 16:52] Aneurysm9 commented on #746
While I can understand the desire to have these properties, I think as it is currently structured it may prove overly limiting and lead to users to being unable to use it at all.  By having `splunkhttp.NewHandler` embed the creation of an `otelhttp.Handler` it is limiting users to that instrumentation and either foreclosing users of other instrumentations such as `otelecho` or `otelmux` or forcing

[2021-04-15 18:41] Aneurysm9 commented on #744
Unfortunately, it looks like I can only transfer the issue to other repositories where I have admin access, and opentelemetry-collector-contrib is not one of them.

[2021-04-16 11:23] pellared commented on #746
@Aneurysm9 Thanks for your insight 👍

I think that what you presented can be done in Splunk in addition to one of the presented approaches. _And it can be also reused internally._

What you presented is more flexible and composable. However, it requires the client to write more code. Especially if we would like to set some default options (not sure if we have a use case for it TBH, but I imagine s

[2021-04-16 14:55] MadVikingGod commented on #746
If you are really looking to make programing this easier, then you should entirely encapsulate the otelhttp package.  Users of your package shouldn't know or have to find out what otelhttp configuration options there are, they should be using splunkhttp options.

This lets you keep up with changes to otelhttp at your pace, and if you want to keep in lockstep I would look at code generation, and it

[2021-04-16 17:18] MrAlias commented on #744
@open-telemetry/technical-committee can you help with the transfer ^?

[2021-04-16 22:40] pellared commented on #746
## Approach 5  - encapsulate the `otelhttp` and extend what is needed

by @MadVikingGod

Entirely encapsulate the `otelhttp` package and add all needed features.
- Changes in OTel SDK: **NONE**
- Extending the in vendor repo: _use your imagination please_ 😉

It does not require any change.

**Pros:**
- The client does not need even to know nor import `otelhttp`
- _Possibily no dependency to otelht

[2021-04-16 22:48] pellared commented on #746
@Aneurysm9

I am getting convinced that your proposal is the most pragmatic one.
Besides what was already written there are more benefits of what you proposed:
1. Not mixing `splunkhttp.` and `otelhttp.` in a single line feels better and is easier to understand for the reader
2. It does NOT force to use the default options if one would be provided by `splunkhttp`. Functional options often make "un

[2021-04-16 22:53] pellared commented on #746
## Approach 6  - do NOT extend, but create another middleware

by @Aneurysm9

Create `splunkhttp.NewHandler` which may be composed with `otelhttp.NewHandler`
- Changes in OTel SDK: **NONE**
- Extending the in vendor repo: **IN PROGRESS**

It does not require any change.

**Pros:**
- The simplest, most composable and flexible approach
- Can be used for other instrumentation like `otelmux` and `otel

[2021-04-19 17:45] pellared commented on #746
@Aneurysm9 @MrAlias
We ended up with **Approach 6**.

Feel free to close the issue. I am not closing it, because maybe you want to have some follow up (e.g. docs) 😉  🤷

[2021-04-20 09:08] albertteoh commented on #733
Thank you very much @MrAlias @Aneurysm9!

I did try upgrading otel-go to pick up those recent changes, which sound promising as indeed, all I want to achieve is to simply propagate the context unmodified. However, there were some compilation errors relating to `trace.FlagsDebug` and `trace.FlagsDeferred` missing in the B3 propagators.

I'll park this effort for now and fallback to manually copying

[2021-04-20 15:56] humivo commented on #726
Hey can I try to do this one?

[2021-04-21 16:17] #746 closed

[2021-04-24 00:01] nchetan commented on #478
@Aneurysm9 Is this still open/available? There seems to be a merged branch, Hence the question.

[2021-04-29 20:58] evantorrie commented on #454
Correct.

`service.name` should always be derived from the `Resource` associated with the `Span`. In the Go implementation this `Resource` is set via the client code passing a `WithResource(resource)` option to `NewTracerProvider()`, i.e.

[code]

If the code does not pass a `WithResource()` option, the `TracerProvider` is expected to use [`resource.Default()`](https://github.com/open-telemetry/op

[2021-05-03 16:43] evantorrie opened #768 "Ensure examples are built during CI workflow"
We should consider building (and running?) the examples contained in the repo as we do in the [main repo](https://github.com/open-telemetry/opentelemetry-go/blob/f40cad5ee20175a946763ef79a32741069e4492a/Makefile#L64-L69).

[2021-05-04 03:01] MrAlias commented on #768
I'm hoping we can migrate to the new Makefile and CI actions the main repo has as well. I haven't done it yet as I'm also guessing there are several lint and compatibility issues that will need to be addressed in the process. This is likely something good for after the RC and 1.0 release of the main repo and before we release this repo.

[2021-05-04 15:41] MrAlias commented on #733
The B3 propagator has been updated in the [latest release](https://github.com/open-telemetry/opentelemetry-go-contrib/releases/tag/v0.20.0) to work with the new `SpanContext` that removed these flags. If you are still able to validate the proposed solution, please take another look.

[2021-05-05 01:18] evantorrie commented on #454
With the merging of #763 I believe there are no longer opentelemetry-go-contrib instrumentations which allow specifying a `service.name` other than via associating a `Resource` with a `TracerProvider` - and eventually also via a `MeterProvider` when the metrics API resettles.

I believe that means we can close this issue.  Will move to review in the [OpenTelemetry Release Candidate project](https:

[2021-05-05 10:40] pellared commented on #435
@MrAlias Fix is here: https://github.com/open-telemetry/opentelemetry-go-contrib/pull/754

[2021-05-06 20:31] #454 closed

[2021-05-07 13:51] dashpole opened #6385 "Add examples that don't use global variables."
Feedback from https://github.com/etcd-io/etcd/pull/12919#discussion_r628085064.  Globals are nice for simpler examples, but it is often better for larger projects to avoid them so libraries are isolated from each other.

My suggestion would be to leave the examples in opentelemetry-go as-is, since I would categorize them as "simple", but change the more complex examples in contrib (e.g. the grpc o

[2021-05-08 02:49] derekperkins commented on #5
I've been watching this issue, but I wasn't aware that @XSAM had indeed built a version https://github.com/XSAM/otelsql. In his PR, @Aneurysm9 said this about landing official support https://github.com/open-telemetry/opentelemetry-go-contrib/pull/505#issuecomment-800452510

[2021-05-08 16:49] lizthegrey commented on #5
cc @bdarfler @adamopenweb

[2021-05-12 18:48] mhr3 opened #776 "Panic when tracing HTTP2 request"
[code]

Looks like there are cases in which the clienttrace code panics, I assume this code from http2's transport.go has something to do with it:
[code]

Ie. the wait100continue is called before firstResponseByte

I'm aware this is using quite an old version of otel, but looking at master, this piece of code `*clientTracer).wait100Continue()` didn't change.

[2021-05-12 22:08] xukaren commented on #478
Hi @nchetan @Aneurysm9 is this being worked on? If not I would be happy to take a look

[2021-05-12 23:50] lifepeer commented on #714
May I ask why the use of `valyala/fasthttp` instead of the much slower `net/http` should be an issue? `gofiber/fiber` is the second most popular Go framework in its category, the fastest, with active development and steady growth of its user base. I think it would be a mistake not to support it.

[2021-05-13 16:10] chetanrz commented on #478
Hey @xukaren I did not receive any response on this from @Aneurysm9. Hence I did not take this up.
Please ensure that the code has not been merged already before taking this up. No point in duplicating the effort ;)

[2021-05-13 16:11] nchetan commented on #478
Hey @xukaren I did not receive any response on this from @Aneurysm9. Hence I did not take this up.
Please ensure that the code has not been merged already before taking this up. No point in duplicating the effort ;)

[2021-05-13 17:10] xukaren commented on #478
Hi @nchetan, from my understanding, the ask is for a further enhancement to the merged PR. The issue should still be open - would you like to take it?

[2021-05-13 17:38] xukaren commented on #478
Hi @nchetan, I discussed this offline with @Aneurysm9, and the issue is still open. The issue is asking for a further enhancement to #465. Would you be work on it?

[2021-05-13 17:46] chetanrz commented on #478
Hey @xukaren, Thanks for following up on this one. I have already started working on other things now. Please go ahead and take it on if you like.
Best

[2021-05-13 17:47] nchetan commented on #478
Hey @xukaren, Thanks for following up on this one. I have already started working on other things now. Please go ahead and take it on if you like.
Best

[2021-05-14 04:26] xukaren commented on #478
@dashpole @MrAlias Could you clarify the scope of this issue? For example, what pod metadata should be fetched? From my understanding the only ones needed by the AWS EKS resource detector are ContainerID and ClusterName. And the GKE resource detector doesn't need anything (as they rely on a separate Go package). Besides these two attributes, is there anything that I should cover? Also I have looke

[2021-05-14 13:27] dashpole commented on #478
The suggestion is to use kubernetes' [client-go](https://github.com/kubernetes/client-go) library to get the cluster name configmap instead of making GET calls directly.

[2021-05-17 00:44] ahmetb opened #785 "go get is failing for instrumentation/net/http"
[code]

go.mod:

[code]

go version go1.16.3 darwin/amd64

[2021-05-17 15:16] MrAlias commented on #785
Related to the `go get` command, the instrumentation package is named `otelhttp`. I'm guessing you are pulling an old package that existed prior to the rename. Can you verify this works?

[code]

I don't see the `go.opentelemetry.io/contrib/instrumentation/net/http` listed in the `go.mod` file you provided. Are you getting an error using that mod file?

[2021-05-17 17:26] ahmetb commented on #785
Ah interesting, I saw the faulty import path at a 3rd party doc https://docs.honeycomb.io/getting-data-in/go/opentelemetry-tutorial/#if-you-dont-use-a-request-router and it was a valid go package. Thanks for answering.

[2021-05-17 18:03] #785 closed

[2021-05-18 18:54] dashpole opened #788 "Resource dectection for Open-Source platforms should be distinct from cloud-provider detection"
## Background

Currently, resource detection for GKE and EKS is done in separate packages ([EKS](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/detectors/aws/eks), [GKE](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/detectors/gcp/gke.go)), and have diverged in what they detect (container id vs container name, pod name, pod namespace), and how they detec

[2021-05-18 18:55] dashpole commented on #788
cc @aabmass

[2021-05-18 20:11] Aneurysm9 commented on #788
I think this seems like a reasonable proposal.  It would probably be good to make an OTEP to get broader feedback and see if we can make the pattern consistent across all implementations, but I don't see why we'd need to let that stop us from moving forward with it if we thing it is the right thing for our implementation.

[2021-05-20 00:05] KKelvinLo opened #789 "Add a badge for CodeCov"
**Is your feature request related to a problem?**
Most of the existing OpenTelemetry repositories display a badge for code coverage. In an effort to have the Go-contrib repository to be up to date and consistent with the other established SDKs and repositories, there should be a code coverage badge in the main README.md file.

**Describe the solution you'd like.**
As a developer contributing to Op

[2021-05-21 00:11] valdemarpavesi opened #790 "Prometheus as remote-write-receiver Encountered error 204 No Content"
### Description

Prometheus as remote-write-receiver
url: http://localhost:9090/api/v1/write
Return success code "204 No Content"

but it will be considered as an error for  (pusher, err := cortex.InstallNewPipeline)

### Environment

- OS: Linux
- Architecture: [x86_64]
- Go Version: [go1.16.2]
- go.opentelemetry.io/otel v0.20.0

### Steps To Reproduce

1. run example:

https://github.com/open-te

[2021-05-25 19:25] #789 closed

[2021-05-30 20:58] hsblhsn opened #809 "Add WithFilter option for github.com/labstack/echo/otelecho"
The package `otelhttp` provides a `WithFilter` function to filter some request from being traced. (ex: healthcheck).  But `otelecho` does not provide something like that. Why?

If there's no problem on adding that, I can contribute.

`otelecho`: [`go.opentelemetry.io/contrib/instrumentation/github.com/labstack/echo/otelecho`](https://pkg.go.dev/go.opentelemetry.io/contrib/instrumentation/github.co

[2021-06-02 13:08] rhcarvalho opened #810 "Use singular form for directory names"
It is common practice in Go to name package path components in singular, so

- `exporter/metric/...`
- `propagator`
- `detector`
- `instrumentation` (currently already in singular form)

Right now of the 4 areas of this repo, one is already in singular form and the other 3 are plural.

Other Go repos in OpenTelemetry do follow the practice of using singular, for example the [Collector](https://git

[2021-06-02 19:33] ahmetb opened #811 "otelgrpc: Feature request: Track end-user IPs on gRPC requests"
Currently otelgrpc package provides labels like:

key | value
-- | --
net.peer.port | 54566
net.peer.ip | 169.254.8.129

This is great but it is not useful in a cloud environment where the immediate IPv4 connections are coming from load balancers or API gateways and the end user's IP address is not captured in TCP peer info.

I am proposing that `otelgrpc` package also labels end-client IP address

[2021-06-02 19:34] ahmetb commented on #811
I appreciate if someone can clear the labels, I should not have used the issue template.

[2021-06-08 16:41] MrAlias commented on #810
Changing these names needs to be done with a lot of caution. It will change the module/package names meaning there will be discoverability issues in the future when users find the old deadend modules/packages and think they are the current ones.

There are examples of plurals in other Go projects including the standard library: `bytes`, `errors`, `strings`. We should be sure we are making the chan

[2021-06-09 00:06] ahmetb opened #817 "gcp: Cloud Run Application details are not labeled on traces"
I am opening this issue because of this file that does Cloud Run detection https://github.com/open-telemetry/opentelemetry-go-contrib/blob/f2fb9c8d5524abba85c87ef341d707c7a8173932/detectors/gcp/cloud-run.go#L95-L105 Please migrate the issue to the right repo if that's wrong.

Right now, it seems that the traces are exported (from libraries such as `otelgrpc` or `otelmux`) do **not properly label t

[2021-06-09 04:12] tonistiigi opened #818 "otelgprc: stream not closed on eof"
Currently, when stream interceptor is used it closes only if EOF is received and the client also calls `CloseSend` https://github.com/open-telemetry/opentelemetry-go-contrib/blob/f2fb9c8d5524abba85c87ef341d707c7a8173932/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go#L225 . That behavior was a bit surprising to me as I've always considered `CloseSend` optional as grpc only allows on

[2021-06-15 19:27] Raul9595 commented on #478
Hi! I had taken up the issue and worked on it after discussing it with @xyira offline. I believe this issue can be closed now since the mentioned pull request provides the necessary enhancement.

[2021-06-15 19:58] #478 closed

[2021-06-23 05:28] wangzlei opened #828 "Add Instrumentation for AWS Lambda handler function"
## Background

**Package Link**: https://docs.aws.amazon.com/lambda/latest/dg/golang-handler.html

<describe how this package is commonly used>
Support OpenTelemetry in AWS GoLang/Custom Runtime. Instrument user's handler function in AWS Lambda.
Refer other language such as [Java](https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/aws-lambda-1.0), Js, [P

[2021-06-29 19:54] BlakeWilliams opened #837 "Feature Request: Add support for filtering span attributes in net/http package"
We're writing an application and would like the ability to filter the `http.url` attribute that is automatically set in spans. It's possible the url can contain secrets or other information that we would like to avoid sending to third parties.

I'd be happy to spend time getting this working and open a PR if there's interest in adding this functionality to the `net/http` package.

Definitely open

[2021-06-29 20:22] Aneurysm9 commented on #837
Would this be better as a [`SpanProcessor`](https://pkg.go.dev/go.opentelemetry.io/otel/sdk@v1.0.0-RC1/trace#SpanProcessor) on the `TracerProvider`?  That would give it access to all spans, not just the ones created by this instrumentation.  Not necessarily opposed to the idea, just wondering if there is a higher-leverage implementation point.

[2021-06-29 21:42] vadimberezniker commented on #818
Tõnis, I completely agree with you. We recently ran into massive goroutine leaks after adding gRPC instrumentation.

I sent https://github.com/open-telemetry/opentelemetry-go-contrib/pull/836 to fix this. Let's see what the project approvers think.

[2021-06-29 23:06] vadimberezniker opened #838 "gRPC: provide the ability to set additional attributes for the generated spans"
Our use case is as follows.
We implement a third-party API (Bazel Remote Execution) and most of the requests have a well known identifier called the invocation ID. I would like to add the invocation ID to the generated spans so that it's easy to find traces by invocation ID.

I patched our version of opentelemetry-go-contrib:
https://github.com/open-telemetry/opentelemetry-go-contrib/compare/main.

[2021-06-30 10:55] glazychev-art opened #839 "otelgrpc: goleaks if context canceled"
Hello,
We found that `StreamClientInterceptor` doesn't process context cancellation. And we see goleaks in this case.
For example, let's take a look at the next test:
[code]
Output:
[code]
But, as we can see here:
https://github.com/grpc/grpc-go/blob/master/stream.go#L141
context cancellation is a valid situation and there should be no goleaks.

What do you think about this?
Thank you

[2021-06-30 13:45] BlakeWilliams commented on #837
@Aneurysm9 That's a good question. I took a look at using `SpanProcessor` but couldn't see how it could be composed with the `batchSpanProcessor` that we're currently using.

[2021-06-30 15:19] Aneurysm9 commented on #837
[Here is an example](https://github.com/open-telemetry/opentelemetry-go/blob/main/sdk/trace/span_processor_filter_example_test.go) showing a filter setup.  The BSP would be provided to the filter processor as a next step.  I'm not sure it would work for this use, though, since `OnEnd` receives a `ReadOnlySpan`.  It could filter out spans entirely, but not remove certain attributes without some gym

[2021-07-01 08:57] MBaczun opened #841 "v0.21.0 causes package conflict"
### Description

Using the latest version of otelgrpc (`go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc v0.21.0`) causes a package conflict involving the semconv package (`go.opentelemetry.io/otel/semconv`). In the example log bellow you can see me running `go mod tidy` which results in this issue.

I have found that forcibly using v0.20.0 of otelgrpc is a workaround fo

[2021-07-01 14:03] BlakeWilliams commented on #837
Yeah, that's what I was thinking as well. I don't want to filter out the entire span, just some of the attributes.

[2021-07-01 15:27] Aneurysm9 commented on #841
While the modules in this repository are pre-v1.0 it is necessary to ensure all modules use the same version and the appropriate dependency versions.  `v0.21.0` requires the use of `go.opentelemetry.io/otel v1.0.0-RC1`.  It seems that Go may not automatically resolve that version, perhaps because it uses a pre-release version suffix.

- [Go blog](https://blog.golang.org/publishing-go-modules)

[2021-07-01 17:57] ustiugov commented on #841
@Aneurysm9 thank you for the prompt response. In my understanding, if a module does not work in a recent version of Go by default, it must be considered a bug. Am I wrong?

For example, the problem does not exist with v0.20.0. If we have to manually fix versions of the dependencies and their dependencies, which is basically a workaround, I would consider it a bug.

If there is an approach that doe

[2021-07-01 18:18] MrAlias commented on #841
@ustiugov @MBaczun it looks like your code explicitly depends on `go.opentelemetry.io/otel/semconv`:

https://github.com/ease-lab/vhive/blob/1e364449633f5aba362eb47362cc969d8ba9d0e8/utils/tracing/go/tracing.go#L42

You'll need to update the use of the semconv package to reference the new `go.opentelemetry.io/otel/semconv/v1.4.0` package. For more information take a look at the [changelog](https://

[2021-07-01 18:22] ustiugov commented on #841
thank you! we are going to try that.

[2021-07-01 19:57] MrAlias commented on #841
Looking further into this, it does look like updates to the referenced codebase are needed, but it also looks like the `go mod tidy` command will prefer locally existing version of dependencies. Running the above steps to reproduce this code in a clean environment succeeded:

[code]
Hopefully that helps.

[2021-07-01 21:42] vadimberezniker commented on #838
Figured out how to do it without modifying the instrumentation code and super simple.
Add another interceptor that retrieves the current Spans and adds an attribute.
[code]

[2021-07-01 21:42] #838 closed

[2021-07-01 21:48] Aneurysm9 commented on #838
Heh, I was going to suggest this but I assumed you were looking for a more generic approach.  I don't do much (read anything) with gRPC so I assumed there was a complication I was missing.  Glad you've come to a working solution!

[2021-07-02 03:22] WLun001 opened #843 "Add Instrumentation for `gofiber/fiber`"
## Background

**Package Link**: https://github.com/gofiber/fiber

<describe how this package is commonly used>

## Proposed Solution

middlewares

### Tracing

- attributes:
  - semconv.NetAttributesFromHTTPRequest
  - semconv.EndUserAttributesFromHTTPRequest
  - semconv.HTTPServerAttributesFromHTTPRequest
  - semconv.HTTPAttributesFromHTTPStatusCode
  - semconv.SpanStatusFromHTTPStatusCode
- eve

[2021-07-05 13:09] MBaczun commented on #841
Hi, the methods shared here have not resolved this problem.

Replacing the import in our code with `semconv "go.opentelemetry.io/otel/semconv/v1.4.0"` as suggested here does not help, running go mod tidy after this change still results in the issue.

Running go mod tidy "in a clean environment" as later suggested also does not work. I have tried running go mod tidy in a fresh environment on cloudl

[2021-07-06 09:35] pellared opened #851 "Unify Configuration and Initialization"
## Why

This is a "clone" of https://github.com/open-telemetry/opentelemetry-go/issues/536 so that we can track adherence to https://github.com/open-telemetry/opentelemetry-go/blob/main/CONTRIBUTING.md#configuration

## What

Modules compliance table:

| Module | Compliant | Review date |
| --- | ---| --- |
| . | ✔️ | 2021-07-06 |
| ./detectors/aws | ✔️ | 2021-07-06 |
| ./detectors/aws/ecs | ✔️ |

[2021-07-07 07:08] pellared commented on #851
@ercl Do you want to take over the `exporters/metric/cortex` part?

[2021-07-07 08:08] pellared commented on #851
Is there anyone who wants to take care of `exporters/metric/datadog` and `exporters/metric/dogstatsd`?

[2021-07-08 21:01] pellared commented on #851
During the SIG meeting, we agreed that we should also create a module for each propagator package.

[2021-07-09 14:40] AlanDavd opened #872 "otelhttp: Bazel fails to build due to io_opentelemetry_go_otel_internal_metric"
I'm using Bazel in my project and trying to implement `otelhttp` in Go.
This is the actual library I'm importing:
[code]
When I try to build the package without `otelhttp` it build successfully, but whenever I try to use it, I got this error:
[code]

- `Mac mini M1`
- `OS: [MacOS]`
- `Go Version: [1.14]`
- `opentelemetry-go version: [0.21.0]`

[2021-07-09 15:57] lastchiliarch commented on #851
I'd like to have a try.

[2021-07-09 16:02] MrAlias commented on #872
Please include a minimal set of steps to reproduce the error here.

Have you tried building with Go 1.15+?

[2021-07-09 16:32] AlanDavd commented on #872
Yeah. In order to give more context, I use Bazel `4.0.0` in a monorepo of Go services and I'm trying to add otel's `net/http` package in some services and it fails (returns the same error that above) in all of them.

These are the steps I follow:

- Add example code shown [here](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/instrumentation/net/http/otelhttp/example/client/cl

[2021-07-09 17:14] MrAlias commented on #872
Thanks for the added info. I do not have a setup to test this immediately, but my first guess is going to be that the Go version is blocking this. The `sdk/metric` package has [a dependency](https://github.com/open-telemetry/opentelemetry-go/blob/484258eb36a71e7495709da0a85c0b12d6d39176/sdk/metric/go.mod#L46) on `github.com/benbjohnson/clock` v1.1.0 which requires Go 1.15+. [We followed suit](http

[2021-07-09 19:59] MrAlias commented on #841
Using my for with [this](https://github.com/MrAlias/vhive/commit/b26e594c8333f9218e92bee610b4a9e2098d7534) fix and the steps outlined in this issues' description I am not able to reproduce the error.

[code]

Can you verify a similar fix is being used for your testing @MBaczun and if you are able to reproduce my success?

[2021-07-10 03:38] tonistiigi opened #876 "otelhttptrace: allow tracing by adding events"
In OpenTracing the equivalent httptrace implementation worked by adding logs(events in opentelemetry) to the parent span https://github.com/opentracing-contrib/go-stdlib/blob/00fa856341a83c0ee331ef758856ad41fdabbea7/nethttp/client.go#L286-L292 while `otelhttptrace` creates new spans.

In an app that creates a lot of traces, this creates a lot of noise and in my case, I would prefer the timestamped

[2021-07-11 10:09] WLun001 commented on #843
working on it

[2021-07-13 14:44] floyola commented on #872
https://github.com/bazelbuild/bazel-gazelle/issues/998 👀

[2021-07-21 00:35] #818 closed

[2021-07-21 00:45] MrAlias commented on #839
Resolved in #840

[2021-07-21 00:45] #839 closed

[2021-07-21 15:03] MrAlias commented on #435
Resolved in #754

[2021-07-22 21:07] seh commented on #872
I spent many hours today writing patches for Gazelle to apply to fix this problem and several others like it. The patches work, to a point, but the _real_ solution turned out to be this:

_bazel clean --expunge_

I don't know why, but either Gazelle or Bazel was consulting some stale files, and failing to generate _BUILD.bazel_ files that capture the true needs of these Go packages and their conta

[2021-07-22 21:44] huydinhle opened #896 "Question: how to ignore healthcheck endpoint with otelmux"
We are using otelmux to instrument our gorilla mux requests. Is there a way to ignore /health endpoint ?

[2021-07-23 19:59] Aneurysm9 commented on #896
There are a couple ways to handle this.  You can attach the middleware to a mux that doesn't route to the health check endpoint and then compose that with one that does the health check but doesn't have the middleware.  Alternately, you could implement a custom sampler that samples out health check requests.  Finally, the `otelhttp` instrumentation has a `Filter` type that can be used to filter re

[2021-08-09 03:23] clly opened #949 "otelhttptrace: Add Options for customizing Spans"
There is no way to customize any of the spans that are emitted by otelhttptrace. We could implement 2 Options in otelhttptrace that would allow that customization:
1. WithSpanOptions
2. WithTracerProvider

These Options exist in otelhttp and are currently unimplemented in otelhttptrace and would provide that functionality.

[2021-08-11 16:57] gebn opened #953 "Clarify where to use NewHandler()"
The docs for this function suggest `NewHandler()` should wrap a mux, and `WithRouteTag()` individual routes on that mux. However, this forces a single operation for every path, which sounds wrong. This is causing some confusion, as several reputable sites ([1](https://lightstep.com/blog/opentelemetry-go-all-you-need-to-know/#instrumenting-an-http-server), [2](https://www.honeycomb.io/blog/from-0-t

[2021-08-12 20:57] MrAlias opened #967 "Remove use of oteltest in otelhttp"
- [ ] Audit where the `oteltest` package is used.
- [ ] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [ ] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [ ] Create a go.mod with a minimum Go version of 1.15.
  - [ ] Add a replace directive for any local `contrib`

[2021-08-12 20:58] MrAlias opened #968 "Remove use of oteltest in otelhttptrace"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:58] MrAlias opened #969 "Remove use of oteltest in otelmacaron"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:58] MrAlias opened #970 "Remove use of oteltest in otelgrpc"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:58] MrAlias opened #971 "Remove use of oteltest in otelmongo"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:58] MrAlias opened #972 "Remove use of oteltest in otelecho"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:58] MrAlias opened #973 "Remove use of oteltest in otelmux"
- [ ] Audit where the `oteltest` package is used.
- [ ] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [ ] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [ ] Create a go.mod with a minimum Go version of 1.15.
  - [ ] Add a replace directive for any local `contrib`

[2021-08-12 20:58] MrAlias opened #974 "Remove use of oteltest in otelgocql"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:58] MrAlias opened #975 "Remove use of oteltest in otelkit"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:59] MrAlias opened #976 "Remove use of oteltest in otelgin"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:59] MrAlias opened #977 "Remove use of oteltest in otelrestful"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:59] MrAlias opened #978 "Remove use of oteltest in otelmemcache"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:59] MrAlias opened #979 "Remove use of oteltest in otelaws"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 20:59] MrAlias opened #980 "Remove use of oteltest in otelbeego"
- [ ] Audit where the `oteltest` package is used.
- [ ] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [ ] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [ ] Create a go.mod with a minimum Go version of 1.15.
  - [ ] Add a replace directive for any local `contrib`

[2021-08-12 20:59] MrAlias opened #981 "Remove use of oteltest in otelsarama"
- [x] Audit where the `oteltest` package is used.
- [x] Replace the use of the `oteltest` package `TracerProvider` with the `trace.NewNoopTracerProvider` where no span recording is necessary.
- [x] Move all remaining uses of the `oteltest` package for testing into a new `test` module.
  - [x] Create a go.mod with a minimum Go version of 1.15.
  - [x] Add a replace directive for any local `contrib`

[2021-08-12 21:00] MrAlias commented on #973
Resolve in #897

[2021-08-12 21:00] #973 closed

[2021-08-13 15:58] #970 closed

[2021-08-13 21:38] #967 closed

[2021-08-17 18:24] MrAlias opened #1010 "Support Windows with the CI system"
It was shown in [this test run](https://github.com/open-telemetry/opentelemetry-go-contrib/runs/3353556306) that this project currently does not successfully complete tests on (some (?)) Windows systems.

[code]

This failure needs to be resolved and the `TODO` left in #1009 needs to be resolved:

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/07164a8b4d6bf146a3b3ab3c05512ff430241

[2021-08-18 15:43] #968 closed

[2021-08-18 15:56] #969 closed

[2021-08-18 16:08] #971 closed

[2021-08-18 16:16] #972 closed

[2021-08-18 18:24] #974 closed

[2021-08-18 18:43] #975 closed

[2021-08-19 03:46] #978 closed

[2021-08-19 14:51] #976 closed

[2021-08-19 15:09] #977 closed

[2021-08-19 15:16] #981 closed

[2021-08-19 15:27] #980 closed

[2021-08-19 19:38] #979 closed

[2021-08-23 20:37] a-feld opened #1028 "[Performance] gRPC instrumentation: interceptor causes full payload to marshal into memory"
[This call causes the proto to get marshalled into memory](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/be89a1bdcc5b8696c914688b3c5c0e2d9e45ee84/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go#L52)

Stack Trace:
[code]

Calling `proto.size()` from `go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc.messageType.Event` leads to the full payl

[2021-08-23 20:59] MrAlias commented on #1028
Do you have a proposed solution?

Based on [the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/028ac126af850e7fd31a16e93372b160448a068b/specification/trace/semantic_conventions/rpc.md#events) this event should be annotated the way it currently is. I do not know of another way to get the uncompressed request payload size without calling the function we are calling

[2021-08-23 21:05] a-feld commented on #1028
I'm looking into it right now 😄
I think the solution here may have to be in the collector protos. [It looks like there's a fast path if there's a size method available](https://github.com/protocolbuffers/protobuf-go/blob/5aec41b4809b9822a34e17acd06ae9ae9f41c13d/proto/size.go#L34)

[2021-08-23 21:06] a-feld commented on #1028
I'm also wondering if there's a way to omit this parameter if we can detect if we have to go on the slow path?

[2021-08-23 21:37] jack-berg commented on #1028
I ran this in debug mode. The [fast path](https://github.com/protocolbuffers/protobuf-go/blob/5aec41b4809b9822a34e17acd06ae9ae9f41c13d/proto/size.go#L34) @a-feld mentioned doesn't called because there's logic which normalizes proto v1 and v2 messages as v2 messages. The the otel protos (like `ExportTraceServiceRequest`) get [wrapped in a legacy message](https://github.com/protocolbuffers/protobuf-

[2021-08-27 09:52] AtlanCI opened #1031 "[Performance issues] use grpc metadata FromOutgoingContext function"
## Background
grpc version 1.39 and 1.37
**Package Link**: <add link to package here>
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go
<describe how this package is commonly used>
StreamClientInterceptor and UnaryClientInterceptor
## Proposed Solution
The fromoutgoingcontext implementation in grpc versions 1.39 and

[2021-09-02 16:03] #876 closed

[2021-09-05 23:23] HammerMeetNail opened #1087 "Don't send all requests"
Hey folks,

Just integrated [otelgin](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/instrumentation/github.com/gin-gonic/gin/otelgin) and am able to send metrics to Honeycomb. By default it forwards on all requests. Does anyone know if there's a way to prevent certain endpoints from sending? We have a healthcheck endpoint that doesn't need to be pushed.

Thanks,
Dave

[2021-09-06 02:28] toniz opened #1088 "statusCode Return :UNSET, statusMessage return Empty"
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/f650585d08df31ecbdec0b22f3778bdd7da1dedd/instrumentation/net/http/otelhttp/handler.go#L209

[2021-09-06 08:08] pellared commented on #85
@ravilushqa @jay-manday @jjmengze @gtourkas
Could you please try to collaborate and select one of your PRs as a preferred one (and make other PRs as a draft) to make the reviewers' life easier? 😉

[2021-09-06 08:30] ravilushqa commented on #85
@pellared
This issue how i see opened for graph-gophers/graphql-go lib, whereas mine and @jjmengze is for 99designs/gqlgen. I'm not sure that both lib should go in a one MR, and imo that would be harder for reviewers.

In situation with @jjmengze, our pr's are both for a one lib. I'm not experienced contributor, so i'm not pretty sure how to deal with that. I'm pretty long waiting for it, and I wi

[2021-09-06 10:21] gtourkas commented on #85
@pellared

@ravilushqa sufficiently described the case: this PR for for graph-gophers/graphql-go, which is also what the issue #85 is about, and the other two for 99designs/gqlgen . Apart from the registry item, which I guess is the last step, the PR is imo ready for review.

[2021-09-07 04:46] HaoKunT opened #1089 "otelhttp package: no net.peer.ip on client"
According to [v1.4.0 semantic specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#http-client), for http clients, it is recommended to use `net.peer.name` instead of `http.host`. Should the client request in the otelhttp package include attributes such as net.peer.ip?

In example, it only include these attribute:
[

[2021-09-13 15:57] MrAlias opened #1100 "Document instrumentation hosting recommendations."
The size of the developer community supporting this project is not large enough to support the ever growing amount of instrumentation being submitted to this repository. We need to document instrumentation guidelines discussed in last week's SIG meeting that address this with the following prioritization of where instrumentation should be hosted:

1. Native to any package. Instrumentation exists i

[2021-09-13 15:58] MrAlias commented on #1100
As a follow on to documenting the project policy, we need to close outstanding PRs here for instrumentation we will not be accepting.

[2021-09-13 23:01] veqryn opened #1102 "Add Instrumentation for database stats (sql.DBStats)"
## Background

**Package Link**:
database/sql
github.com/go-sql-driver/mysql
github.com/lib/pq
github.com/godror/godror
github.com/ClickHouse/clickhouse-go

Database connections allow gathering `sql.DBStats`

## Proposed Solution

Add metrics for sql.DBStats

### Metrics

Instruments

OpenConnections
etc

## Tasks

- Code complete:
  - [ ] Comprehensive unit tests.
  - [ ] End-to-end integration t

[2021-09-16 03:59] Aneurysm9 opened #1104 "Options should not allow setting `nil` providers"
All instrumentations accept functional options to set the `TracerProvider` and/or `MeterProvider`, as appropriate for the instrumentation.  These providers are used to create the `Tracer` and `Meter` used by the instrumentation.  Most (all?) instrumentations follow a pattern whereby they set a default provider in their configuration struct and then apply user-provided options.  The instrumentation

[2021-09-16 23:54] erichsueh3 opened #1105 "Add `WithTracerProvider()` to the `net/http/httptrace` package"
## Background

Currently, the `net/http/httptrace` package is missing a `WithTracerProvider()` function.

## Proposed Solution

Add in a `WithTracerProvider()` function. The `config` struct would also need to be modified to include
`tracerProvider trace.TracerProvider`.

[2021-09-18 08:43] pellared opened #1108 "Add guard to prevent Options from setting nil propagators"
If yes please open up an issue and assign it to me if possible, thanks!

_Originally posted by @erichsueh3 in https://github.com/open-telemetry/opentelemetry-go-contrib/issues/1107#issuecomment-922143472_

[2021-09-21 18:37] #1108 closed

[2021-09-21 18:55] #1104 closed

[2021-09-21 21:16] erichsueh3 commented on #1105
Would a test for the `WithTracerProvider()` function be necessary? Not sure how much value it adds due to the simplicity of the function.

[2021-10-02 21:19] PaurushGarg commented on #7
@krnowak @andrewhsu @MrAlias please assign this issue to me. I can work on rest 3 points. I am working in @alolita team.
Tag @alolita

[2021-10-03 19:20] jasondeutsch commented on #84
I wrote an update of the _prior art_ for a project. I can submit a PR in a day or so.

[2021-10-04 11:47] djcass44 opened #1329 "`otelhttp.Transport` is unable to properly handle protocol switching (e.g. for websockets)"
Attempting to proxy a websocket through the `otelhttp.Transport` returns a 502 and this message: `http: proxy error: internal error: 101 switching protocols response with non-writable body`.

It may also affect H2C connections (and anything that provides write access to the underlying TCP connection) as stated by the [Go source](https://go-review.googlesource.com/c/go/+/131279/4/src/net/http/trans

[2021-10-08 02:08] victoraugustolls opened #1335 "OTel HTTP server duration microseconds instead of milliseconds"
Hi! According to the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md), shouldn't `http.server.duration` be in milliseconds instead of microseconds?

If I understood correctly, the current `otelhttp` implementation is using `microseconds` instead (see [here](https://github.com/open-telemetry/opentelemetry-go-

[2021-10-08 02:16] victoraugustolls opened #1336 "Add Instrumentation (metric) for net/http"
## Background

**Package Link**: `net/http`

stdlib http client.

## Proposed Solution

Collect `http.client.duration` metric from the stdlib http client. Currently I'm using a custom `RoundTripper` that calls the `otelhttp` tracing `RoundTripper`, and I think it would be nice if this was inside the contrib. If agreed, I can open a PR for it!

I see something similar was done in #427 , but it was

[2021-10-11 23:59] cwildman opened #1341 "Runtime instrumentation: Make runtime.uptime an Asynchronous Gauge"
Currently the `runtime.uptime` metric is reported as an [Asynchronous Counter](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/8e44f3f02293665b0547280bf151da43d9a8fb2a/instrumentation/runtime/runtime.go#L120-L121). Uptime as a concept is certainly monotonic which makes it seem like it should be a Counter, but it's also non-additive, it doesn't make sense to sum the uptime of differ

[2021-10-12 17:40] MrAlias commented on #86
Closing based on [new instrumentation policy](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/instrumentation#new-instrumentation).

[2021-10-12 17:40] #86 closed, assigned to nobody

[2021-10-12 23:42] codeboten opened #1352 "Flaky test: TestInterceptors/StreamClientSpans"
As per the output available [here](https://github.com/open-telemetry/opentelemetry-go-contrib/runs/3874070980?check_suite_focus=true), a flaky test was causing CI failures with the following message:

[code]

[2021-10-14 17:29] #84 closed

[2021-10-14 17:30] MrAlias commented on #843
In accordance with the [new instrumentation policy hosting guidelines](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/instrumentation#new-instrumentation) I'm closing this.

[2021-10-14 17:30] #843 closed

[2021-10-14 17:31] #1102 closed, assigned to nobody

[2021-10-15 15:30] MrAlias opened #1354 "Define criteria for instrumentation to be hosted here"
With the limited development capacity of this SIG currently, and with the goal of focusing that energy on providing a quality API/SDK, the [new instrumentation policy and guidelines](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/instrumentation#new-instrumentation) were [recently added](https://github.com/open-telemetry/opentelemetry-go-contrib/pull/1103). The third and last

[2021-10-15 16:39] seh commented on #949
See #1105 and #1128.

[2021-10-19 14:58] errordeveloper opened #1357 "missing tag propagators/opencensus/v1.0.0"
Looks like this [tag](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/propagators/opencensus%2Fv1.0.0) hasn't been set.

[2021-10-19 16:27] MrAlias commented on #1357
This seems intentional as that package is not included in the `v1.0.0` module set:

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/b72c2cd63b9a9917554cbcd709e61f5d8541eea5/versions.yaml#L32

I'm not entirely sure why this was omitted from the release though. @Aneurysm9 might have more context here.

[2021-10-20 02:18] Aneurysm9 commented on #1357
It [depends on the OpenCensus bridge module](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/propagators/opencensus/go.mod#L9), which isn't 1.0 because it depends on metrics.

[2021-10-20 02:18] #1357 closed

[2021-10-21 17:29] shaaraddalvi opened #1441 "Support custom HTTP request and response header semantics"
### Problem Statement

There is a specification about configuring opentracing such that it can capture a provided set of HTTTP request and response headers [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#http-request-and-response-headers).

### Proposed Solution

Checking in for the plans to support configuring a set o

[2021-10-27 20:32] MrAlias opened #1378 "Update RELEASING.md"
Update the docs to reflect the releasing process that uses the new make commands and the multimod tool.

[2021-10-28 18:14] #1378 closed, assigned to nobody

[2021-10-30 17:30] brugnara commented on #622
@bryanpaluch this problem for me happened because the version that is installed with the go get sometimes it is wrong.

Check this search for better understand: https://pkg.go.dev/search?q=opentelemetry+contrib+gin&m=

You may need the 0.26 version but it is super easy to install the old 0.11 if you do a little edit in the search query: https://pkg.go.dev/search?q=opentelemetry+gin&m=package

So,

[2021-11-02 15:39] pkwarren opened #1384 "Cannot merge resource due to conflicting Schema URL in OTEL v1.1.0 / OTEL-contrib v1.1.0"
If we attempt to upgrade to the latest OTEL and OTEL contrib, we're hitting the error `cannot merge resource due to conflicting Schema URL` attempting to create a resource detector on startup. This appears to be due to the fact that the OTEL libraries have updated to semconv v1.7.0 while several of the OTEL-contrib packages are still on semconv v1.4.0.

[2021-11-02 18:27] #1384 closed

[2021-11-02 23:15] rltoSD opened #1386 "Failed to build due to Beego dependency issues"
![image](https://user-images.githubusercontent.com/50217652/139964304-48dbdda6-5139-4317-a137-e0ae4c3a40e0.png)

I was setting up my local development environment for openetelemetry-go-contrib and encountered an issue with building due to a dependency issue related to Beego. It seems that the original tag has been deleted.

Utilizing Go 1.17.2, MacOS Big Sur x86

[2021-11-03 18:43] floyola opened #1387 "Otelmux: span status are marked as an error; `Invalid HTTP status code 0`"
Hi 👋

I'm using the `otelmux` library to instrument my incoming HTTP requests but for some reason 70% of them are marked as an error since its HTTP status code is 0.

After some research I found that the library [set the default code as 0](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/instrumentation/github.com/gorilla/mux/otelmux/mux.go#L86), but I don't understand why that

[2021-11-04 15:56] hyunuk commented on #1386
@Aneurysm9 Would you assign this to me? I would take it!

[2021-11-05 01:09] hyunuk commented on #1386
I once solved this issue using replace directive but @Aneurysm9 wants to moving the entire instrumentation and changing all references so that there are no more references to astaxie left.

So I renamed every `astaxie` to `beego`, tested but it failed.

The problem is in github.com/beego/beego v1.12.3. In this version, go.mod has the module name as `github.com/astaxie/beego`, which should be `gith

[2021-11-05 19:01] pellared commented on #1387
At first glance I think that this how the code should look like:

[code]

I would also change existing tests by removing `w.WriteHeader(http.StatusOK)` calls. Maybe an additional unit test as well... Feel free to submit a PR as I don't have time to do it in the upcoming days.

[2021-11-05 19:27] Aneurysm9 commented on #1387
The current implementation will set `rww.written` when either `Write()` or `WriteHeader()` are called.  Does the instrumented handler not invoke either?  It seems to me to be an error for an HTTP handler to not write any response.  At the very least if there is no content to return then `WriteHeader(http.StatusNoContent)` should be used.

[2021-11-05 19:36] floyola commented on #1387
The weird thing is that the 30% percent of the traces have a valid status code 🤔
And yeah, I'm calling the `WriteHeader`

[2021-11-05 19:42] pellared commented on #1387
While I agree that ` WriteHeader(http.StatusNoContent)` should be used. I would prefer to double-check what `http.Server` does in such a case and do the same.

[2021-11-05 20:00] pellared commented on #1387
https://play.golang.org/p/wQPh-KXIQjm

Based on that I think the default should be `http.StatusOK`.

[2021-11-08 23:14] hyunuk commented on #1386
https://github.com/mattn/go-sqlite3/issues/975#issuecomment-958636328

This issue is resolved and working fine now.

[2021-11-09 00:25] #1386 closed

[2021-11-11 20:27] nachogoca opened #1415 "The AWS SDK is missing tracing tags"
The package `go.opentelemetry.io/contrib/instrumentation/github.com/aws/aws-sdk-go-v2/otelaws`  doesn't inject all the tags necessary for proper visualization of traces in Splunk APM Overview diagram.  The Java SignalFX SDK does this correctly, and the traces generated with the Java SDK are visible.

Trace without visible AWS resources (S3). Implemented with Go SDK.
![image](https://user-images.gi

[2021-11-19 00:17] tonglil commented on #1336
Personally I feel like that kind of information is critical to the instrumentation. As far as I can tell, the otelhttp instrumentation is mostly barebones at the moment and only records `HTTP GET/POST/etc`, like without parameterized http.url and http.target attributes that I feel like are needed.

Would love to see this data @victoraugustolls!

[2021-11-19 12:19] wolverian opened #1426 "ECS detector should not fail with error if not running on ECS"
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/112b43e13326b58a4bb495f55d6202aefa7fe324/detectors/aws/ecs/ecs.go#L77

This should return `nil, nil`.

This was previously fixed in the EC2 detector: https://github.com/open-telemetry/opentelemetry-go-contrib/issues/398

[2021-11-19 21:03] floyola commented on #1387
After a lot of debugging I found that there was a unhandled case in my implementation that it didn't call the `WriteHeader()` and thus, since the default code was 0 then it was marked as an error.
My apologies 😬

But I agree that the semantics of the default status code of the response span should be the same as in `mux` library

[2021-11-23 15:35] #1426 closed

[2021-11-24 13:06] pellared commented on #1387
PR ready for review https://github.com/open-telemetry/opentelemetry-go-contrib/pull/1443

[2021-11-28 21:03] mhahl commented on #1329
Hey,

Is there any progress of fixing this issue? It's super annoying, having to work around it using @djcass44 fix.

Thanks!

[2021-11-29 15:53] #1387 closed

[2021-12-02 21:52] Aneurysm9 opened #1456 "Prefix runtime metric names with `process.`"
Metrics emitted by the [`runtime` instrumentation](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/instrumentation/runtime/runtime.go) should be named `process.runtime.go.*` according to the [metrics semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/runtime-environment-metrics.md).

[2021-12-06 23:00] #1010 closed

[2021-12-08 23:06] wvboy31216 opened #1476 "Request to Add Instrumentation for <package-name>"
## Background

**Package Link**: <add link to package here>

<describe how this package is commonly used>

### Why can this instrumentation not be included in the package itself?

### Why can this instrumentation not be hosted in a dedicated repository?

## Proposed Solution

<add a high-level description of how instrumentation can wrap or hook-in to the package>

### Tracing

- attributes:
  - <a

[2021-12-08 23:46] MrAlias commented on #1476
This looks to have been an error.

[2021-12-08 23:46] #1476 closed

[2021-12-10 20:04] lkysow commented on #733
Hi, I'm looking into this through the Consul side of things. I see the same problems with the spans not being nested properly. I'm wondering how zipkin could possibly work _without_ the `x-b3-parentspanid` headers being propagated?

[2021-12-11 04:16] MadVikingGod opened #1478 "Update metrics exporters"
The metrics version V0.26.0 removes the Points aggregation and MinMaxSumCount aggregation from the API, and includes a new Histogram aggregation which is not interchangeable.  This prevented us from updating modules in the `experimental-metrics` module set.

Things that need to be addressed:

- [x] Remove the MinMaxSumCount from cortex.
- [ ] Remove Point aggregations from datadog exporter.
- [ ]

[2021-12-14 17:14] pkwarren opened #1518 "Missing modules in 0.28.0 instrumentation release"
As part of upgrading dependencies to the latest opentelemetry-go and opentelemetry-go-contrib, I noticed that the go.opentelemetry.io/contrib/instrumentation/runtime@v0.27.0 module remained a version behind the others.

Scanning tags between 0.27.0 and 0.28.0, I found that these modules weren't tagged as part of the 0.28.0 release:

[code]

Is this expected?

[2021-12-14 17:20] Aneurysm9 commented on #1518
Yes.  There were changes in the metrics API that prevent an immediate update of some of the modules in the `experimental-metrics` module set so we did not release new versions of those modules.  See https://github.com/open-telemetry/opentelemetry-go-contrib/issues/1478.  If no good solutions for the histogram expectation mismatch presented by the datadog and dogstatsd exporters are found we may ne

[2021-12-14 17:20] #1518 closed

[2021-12-14 17:26] pkwarren commented on #1518
Is it safe to use `go.opentelemetry.io/contrib/instrumentation/runtime@v0.27.0` with other v0.28.0 otel-contrib modules and otel-go v1.3.0/0.26.0?

[2021-12-14 17:33] MrAlias commented on #1518
If you are using a current and supported version of Go the module dependencies will be resolved independently, meaning you should not have an issue running those modules side-by-side.

[2021-12-17 09:16] tonyttz opened #1523 "Instrumentation not support beego v2"
Current instrument is not support beego v2 on github.com/beego/beego

[2021-12-17 10:18] tonyttz commented on #1523
#1525

[2021-12-23 14:05] wolverian commented on #953
The semantics of the `operation` parameter are unclear to me as well. What does it mean? For example, on this line:

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/v1.3.0/instrumentation/net/http/otelhttp/handler.go#L127

`operation` is passed to `semconv. semconv.HTTPServerAttributesFromHTTPRequest` as the `serverName` parameter:

https://github.com/open-telemetry/opentelemetry-g

[2021-12-27 10:03] nexcode opened #1548 "otelgrpc and grpc.ChainInterceptors (multiple tracerProviders)"
**instrumentation**: `google.golang.org/grpc/otelgrpc`

I want to use multiple `tracerProvider` to collect traces in different systems. For example: Zipkin and Jaeger.

For this we need to use interceptor chains (for server and client respectively):
[code]

In general, statistics are collected on two systems, but the **last system** (Jaeger) has a bug with tree formation: https://github.com/jaeger

[2021-12-27 19:04] Aneurysm9 commented on #1548
I don't think you want to do this by adding multiple interceptors as that will create multiple spans that are only partially exported to each system.  Instead, I think adding multiple exporters to your `TracerProvider` is the approach to take.  Then there would be a singe interceptor and all spans would be sent to all destinations.  It should be possible to just add another `WithBatcher(zipkinExpo

[2021-12-27 21:04] nexcode commented on #1548
Yes, you can put several `SpanProcessors` in `TraceProvider`. But then it will not work to set up different **Sampling** or differently collected **Resource** objects per exporter. These settings are common for the `TraceProvider`.

[code]

Is there any way to configure this separately for the exporter?

[2021-12-28 05:57] #949 closed

[2021-12-28 05:57] clly commented on #949
LGTM

[2021-12-28 16:43] Aneurysm9 commented on #1548
I don't believe that is possible and it's not clear to me that it would be desirable.  Can you elaborate on your use case?

The resource should identify the workload that is producing the telemetry and should not vary depending on where the telemetry is sent.  If there is sensitive information in the resource that cannot be sent to a destination then it may be possible to wrap the batch span proce

[2021-12-29 15:37] #1548 closed

[2021-12-30 07:55] AndreySerebrov opened #1552 "Methods GETT and POS in metrics"
I try to use metrics with fiber. I see methods **GETT** and **POS** in my metrics. At the same time tracing is working fine

[2022-01-01 22:16] yeya24 commented on #1105
This issue can be closed in favor of https://github.com/open-telemetry/opentelemetry-go-contrib/pull/1128.

[2022-01-03 16:22] MrAlias commented on #1105
Closed in #1128

[2022-01-03 16:22] #1105 closed

[2022-01-04 19:17] #1456 closed

[2022-01-26 14:47] andremarianiello opened #1612 "Cancelling a grpc request prevents the client span for that request from being sent"
The span that is created for the stream client interceptor uses a context that is a child of the context used for the grpc call. Cancelling the call thus cancels the span context, so the span cannot be sent. Once one understands the relationship between the contexts in question, this behavior is expected. However, I believe that this behavior is not the best. Cancelling grpc calls should not preve

[2022-01-27 07:21] #350 closed

[2022-01-27 20:46] MrAlias commented on #1612
Can you provide a complete example to show this behavior?

Looking at [the source](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/26b22d30acb587d893b3a0fd3c8dd7895f79b352/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go#L212-L214) the client stream interceptor handles context cancellation and timeouts by completing the span (with an error). Are you sampling everythin

[2022-01-27 20:48] andremarianiello commented on #1612
I will try to put together a minimal repro.

[2022-01-28 16:02] febinrejoe opened #1613 "Instrumentation for SNS/ SQS"
### Problem Statement

This could be more of a question rather than a feature request. I was wondering if we have a way to instrument Go for SNS/ SQS transactions. To give some background, I have a Go service (Service A) which talks to another service (Service B) via SQS and I would like to do tracing across these services. Any help with this will be greatly appreciated.

[2022-01-28 21:57] andremarianiello commented on #1612
I have whittled my repro down to a much smaller example that made it easier for me to dig into the problem. It boiled down to the program exiting before the span is flushed. The repro calls `Shutdown` before exiting, but that does not help. It turns out that [this example](https://github.com/open-telemetry/opentelemetry-go/blob/main/example/jaeger/main.go#L75-L83) is misleading - `Shutdown` is not

[2022-01-28 22:34] febinrejoe commented on #1613
Thanks @Aneurysm9, I will need message propagation as well. I will look into the options provided.

[2022-01-31 21:19] andremarianiello commented on #1612
Alright, I learned some things since my last comment. First off, that jaeger example I linked before is fine - `Shutdown` _is_ required to flush spans, and it does. It flushes all the spans in the queue. I was not seeing the client span because it was being `End`ed after the `Shutdown` process had started. Here is the order of events

1) Start grpc stream
2) Cancel the context that was given to th

[2022-02-04 20:12] MrAlias commented on #1335
Closed by https://github.com/open-telemetry/opentelemetry-go-contrib/pull/1537

[2022-02-04 20:12] #1335 closed

[2022-02-04 21:04] MrAlias commented on #1087
Would using [`RouterGroup`](https://pkg.go.dev/github.com/gin-gonic/gin#RouterGroup)s work for you?

You could split your healthcheck and other routes into different groups and only register the tracing middleware with the other routes group. Something like in [the example](https://github.com/gin-gonic/examples/tree/master/group-routes).

[2022-02-04 21:08] MrAlias commented on #1088
It is not clear to me what this issue's topic is.

If this is still an issue can you reopen this and include information about what this is for, the environment being run in, sample code producing the issue you are describing, and the expected behavior you thought you would see?

E.g.

[code]

[2022-02-04 21:08] #1088 closed

[2022-02-07 12:17] ShiranAvidov opened #1638 "Getting Cortex dependencies errors"
I am running this command:
go get -u go.opentelemetry.io/contrib/exporters/metric/cortex
and gets the errors:
../../go/pkg/mod/go.opentelemetry.io/contrib/exporters/metric/cortex@v0.27.0/cortex.go:163:35: undefined: aggregation.MinMaxSumCount
../../go/pkg/mod/go.opentelemetry.io/contrib/exporters/metric/cortex@v0.27.0/cortex.go:242:65: undefined: aggregation.MinMaxSumCount

If I understand correct

[2022-02-07 17:35] Aneurysm9 commented on #1638
Correct, that aggregation type was removed in the latest metrics SDK release.  We have not yet released a version of the Cortex exporter that works without it, though it has been fixed on HEAD.  You may be able to use the pseudo-version `main` for the cortex exporter module in your `go.mod` file, otherwise we are planning to make a release this week that will include that fix.

[2022-02-10 16:08] #1329 closed

[2022-02-10 22:12] dashpole commented on #817
I was able to get this to work when I tried it.  See https://github.com/GoogleCloudPlatform/golang-samples/compare/main...dashpole:opentelemetry_demo#diff-5351ce38b44519584b4f0959dc4095b977aa13372f7873f3d82f8c70daf85236R65-R68 for how to use the resource detector.  Are you installing the cloud run detector?

In my service's logs, when I send a request to the service, I get this in JSON:
[code]

[2022-02-14 17:13] derekperkins commented on #5
@MrAlias any feedback on this?

[2022-02-21 04:31] hanyuancheung commented on #1478
I think this issue has been finished, cause with the deprecation of the datadog exporter and removal of histogram support, we don't need to spend efforts trying to handle others. Could you please help to close it?

[2022-02-22 20:22] #1478 closed

[2022-02-23 09:55] XSAM opened #1856 "Fail to obtain resources via EKS detector in EKS cluster"
I got an error when trying to obtain resources from the EKS detector in an EKS cluster.

[code]

With this codes:

[code]

---

It looks like the default service account in the `foo` namespace does not have the authentication to access `aws-auth` configmap in `kube-system` namespace.

Also, I found EKS detector needs a namespace called `amazon-cloudwatch`, which is not found in my EKS cluster. Am

[2022-02-24 15:43] bryan-aguilar commented on #1856
Could this be an IAM issue? https://docs.aws.amazon.com/eks/latest/userguide/troubleshooting_iam.html#security-iam-troubleshoot-cannot-view-nodes-or-workloads

[2022-02-25 02:55] XSAM commented on #1856
I think it is not an IAM issue. The issue here is the EKS detector requires permission that a default namespace service account does not have.

IIUC, the EKS detector should be used in every application, not the OTel collector, to detect the current cloud provider and `k8s.cluster.name`. Thus, the k8s permission required by the EKS detector should be out of the box, without further configuring by

[2022-03-01 12:19] dino-ma opened #1878 "Migrating from opentracing Jaeger to opentelemetry"
I'd like to ask how to set probability sampling through opentelemetry. Previously, it was implemented through Jaeger's collector configuration by the client to request the interface of the agent. Now, opentelemetry will automatically implement this strategy. Don't we need to configure the service name and URL address?

[2022-03-01 12:24] dino-ma commented on #1878
And where can Jaeger's bufferflush interval be set?

[2022-03-02 00:22] MrAlias commented on #1878
Closing as this looks like a duplicate of https://github.com/open-telemetry/opentelemetry-go/issues/2642

[2022-03-02 00:22] #1878 closed

[2022-03-09 13:14] dino-ma opened #1892 "W3C is compatible with B3 protocol"
I want to ask how to be compatible with W3C and Zipkin B3 protocol at the same time, and what should I do if W3C protocol takes precedence? I think I need an example.

B3：https://github.com/openzipkin/b3-propagation
W3C：https://w3c.github.io/trace-context/
Jaeger：https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/propagators/jaeger/jaeger_propagator.go

If I can, I hope I can be

[2022-03-16 12:09] cedricf opened #1919 "Cannot install go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp"
`go get` fails with:
[code]
installing v1.4.0 also fails with:
[code]
Expected behaviour:
That the latest available version of the package is pulled down

My Go version info is as follows:
[code]

[2022-03-16 12:53] dmathieu commented on #1919
I am able to properly get those packages. Could this be a connectivity issue on your end?

get "go.opentelemetry.io/contrib": found meta tag vcs.metaImport{Prefix:"go.opentelemetry.io/contrib", VCS:"git", RepoRoot:"https://github.com/open-telemetry/opentelemetry-go-contrib"} at //go.opentelemetry.io/contrib?go-get=1
get "go.opentelemetry.io/contrib/instrumentation": found meta tag vcs.metaImport{P

[2022-03-17 06:37] cedricf commented on #1919
I have just tried again and the package loads now.  Sorry, I would be surprised if this was a connectivity issue on my side, but it is working fine now.
Sorry, for wasting your time.

[2022-03-17 06:37] #1919 closed

[2022-03-17 18:11] MrAlias commented on #1892
There can only ever be one value for span context values. A span can only belong to a single trace, and that span needs to uniquely be identified.

The way a composite propagator resolves any conflicts is the last propagator wins. That is why you are decoding Jaeger values and not B3 for the trace ID. For extraction of trace data propagators should be passed in order of precedence.

For injection,

[2022-03-18 16:13] avadhut123pisal opened #1922 "Add AWS ECS Task metadata as a resource attributes with the AWS ECS detector"
**Problem Statement:**

Currently following resource attributes are being added with the ECS detector:
1. cloud.provider
2. cloud.platform
3. container.name
4. container.id

We should add the ECS task-related metadata ([opentelemetry specification for ecs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/cloud_provider/aws/ecs.md))

[2022-03-18 17:06] MrAlias commented on #1922
SGTM

[2022-03-22 15:36] MrAlias opened #1975 "Add compatibility testing for Go 1.18"
Match our versioning policy and test the latest version of Go (1.18).

Initial attempts show this will likely need to include fixes to code or the CI system to resolve issues. For example [this error](https://github.com/open-telemetry/opentelemetry-go-contrib/runs/5633997694?check_suite_focus=true):

[code]

[2022-03-23 18:23] #1975 closed

[2022-03-26 14:58] avadhut123pisal commented on #1922
@MrAlias

Need a suggestion for the `aws.ecs.cluster.arn` attribute.

The ECS metadata endpoint returns the cluster arn when the ecs task is running on the Farget. But in case of EC2 launch type it is returning the cluster name (instead of the cluster arn). So,  should we set the `aws.ecs.cluster.arn` attribute only in the case of the Farget launch type ?

For eg.
1. Response for the EC2 launch ty

[2022-03-28 16:13] codeboten opened #2133 "upgrading to go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp throws errors"
The following error occurred while trying to upgrade `go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp`:

[code]

See full log here: https://github.com/open-telemetry/opentelemetry-collector/runs/5723445917?check_suite_focus=true

[2022-03-28 16:19] Aneurysm9 commented on #2133
The contrib instrumentation that has been updated for the most recent metrics release has not yet been released.  That will happen shortly, following a quick patch release in the core repo.  For the moment you should be able to use the `main` pseudoversion.

[2022-03-28 19:44] MrAlias commented on #2133
[Release v1.6.0/v0.31.0](https://github.com/open-telemetry/opentelemetry-go-contrib/releases/tag/v1.6.0) is complete. Please try again with this latest version.

[2022-03-30 13:16] vuuihc opened #2135 "jaegerremote should use perOperationSamplerUpdater first when update strategy from remote"
## description
Hi, thanks to those who contributed to jaegerremote.
But I found that its behavior is inconsistent with what jaeger describes in the sampling section of the official documentation in the scenario where I want to disable certain operation's trace through per operation strategy

## problem
version: go.opentelemetry.io/contrib/samplers/jaegerremote v0.1.0
collector strategy.json file c